<?php include "includes/footer.inc.php"; ?>

</section><!-- .rw-layout -->

<!-- Javascript -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="../static/assets/js/min/smk-menu.min.js"></script>
<script src="../static/assets/js/rw-sidebar.js"></script>
<script src="../static/assets/js/min/jquery.qtip.min.js"></script>
<script src="../static/assets/js/min/smk-accordion.min.js"></script>
<script src="../static/assets/js/min/smk-visual-select.min.js"></script>
<script src="../static/assets/js/min/owl.carousel.min.js"></script>
<script src="../static/assets/js/scripts.js"></script>
</body>
</html>