<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Page title</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Dosis">
	<link rel="stylesheet" href="../static/assets/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../static/assets/fonts/awards/awards.css" />
	<link rel="stylesheet" href="../static/assets/css/styles.css" />
	<!--[if lt IE 9]>
	    <script src="../static/assets/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
<section id="rw-layout" class="rw-layout">

<?php include "includes/header.inc.php"; ?>