<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page title</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Dosis">
    <link rel="stylesheet" href="../static/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/assets/fonts/awards/awards.css"/>
    <link rel="stylesheet" href="../static/assets/css/styles.css"/>
    <link rel="stylesheet" href="../static/assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/assets/css/bootstrap-tokenfield.css"/>
    <link rel='stylesheet' href='https://sliptree.github.io/bootstrap-tokenfield/dist/css/tokenfield-typeahead.css'>
    <link rel="stylesheet" href="../static/assets/css/style2.css">
    <link rel="icon" href="../static/assets/images/patterns/food.png">
    <!--[if lt IE 9]>
	    <script src="../static/assets/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
<section id="rw-layout" class="rw-layout">

    <!--
    // ===================================^__^=================================== //
       Header
    // ===================================^__^=================================== //
    -->
    <div class="rw-section rw-header">
        <div class="rw-inner clearfix">
            <div class="grid-container">

                <div class="grid desk-8 mob-6 alpha clearfix">
                    {#                    <div class="logo-holder">#}
                    {#                        <img src="../static/assets/placeholder/logo.png" class="logo" alt=""/>#}
                    {#                    </div>#}
                    <nav id="the-main-menu" class="main-menu-nav menu-inline" data-breakpoint="1160">
                        <ul class="menu horizontal">
                            <li><a href="/">Home</a></li>
                            <li>
                                <a href="recipes.html">Recipes</a>
                                <ul class="sub-menu">
                                    <li><a href="single-recipe.html">Single recipe</a></li>
                                    <li><a href="submit-recipe.html">Submit recipe</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="elem-colors.html">More</a>
                                <ul class="sub-menu">
                                    <li><a href="elem-colors.html">Colors</a></li>
                                    <li><a href="elem-buttons.html">Buttons</a></li>
                                    <li><a href="elem-typography.html">Typography</a></li>
                                    <li><a href="elem-form.html">Form</a></li>
                                    <li><a href="elem-accordion.html">Accordion</a></li>
                                    <li><a href="elem-grid.html">Grid system</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>


            </div> <!-- .grid-container -->
        </div> <!-- .rw-inner -->
    </div> <!-- .rw-header -->

    <!--
    // ===================================^__^=================================== //
       Content
    // ===================================^__^=================================== //
    -->

    <div class="rw-container rw-section">
        <div class="rw-inner clearfix">


            <div class='container'>
                <div class="row rw-row subtle" style="padding:35px">
                    <form name="myForm" method="POST" action="{{ url_for('query') }}">
                        <div class="form-group">
                            <input type="text" class="hidden" style="display: none" name="order" value="recommend"/>
                            <button class="btn-primary" id="recommend" type="submit" style="margin-top : 30px">
                                권장률순
                            </button>
                        </div>
                    </form>
                    <form name="myForm" method="POST" action="{{ url_for('query') }}">
                        <div class="form-group">
                            <input type="text" class="hidden" style="display: none" name="order" value="caution"/>
                            <button class="btn-primary" id="caution" type="submit" style="margin-top : 30px">위험률순
                            </button>
                        </div>
                    </form>
                    <form name="myForm" method="POST" action="{{ url_for('query') }}">
                        <div class="form-group">
                            <input type="text" class="hidden" style="display: none" name="order" value="rc"/>
                            <button class="btn-primary" id="rc" type="submit" style="margin-top : 30px">추천지수순
                            </button>
                        </div>
                    </form>

                    <!-- TODO 검색바 -->

                    <form class='form-horizontal col-9' role='form' name='find' style="padding-right: 0px" method="POST"
                          action={{ url_for("query") }}>
                        <div class='form-group row rw-row' style="padding:0px">
                            <div class='col-9'>
                                <input class='form-control input-lg js-tag-input' id='tag-input-33'
                                       placeholder='먹고 싶은 음식을 입력하세요' type='text' name="food">
                            </div>
                            <div class='col-3'>
                                <submit class='btn btn-primary btn-lg btn-block' type='submit'>
                                    검색
                                </submit>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Main content -->
            <div class="rw-section rw-container right-sidebar"style="padding:35px">
                <!-- TODO 여기다가 히트맵 추가 -->
            {% if img_rul != "" %}
                    {% if dname %}
                        <h4>{{ dname }} 에 대한 선택한 음식별 평균 추천지수 비교</h4>
                    {% elif dname1 %}
                        <h4>{{ dname1 }} / {{ dname2 }}에 대한 선택한 음식별 평균 추천지수 비교</h4>
                    {% endif %}

                    <div class="card-row" style="display:flex">
                <div class="rw-column" style="margin-right:15px">
                    <img src="data:image/jpeg;base64, {{ img_url }}" style="width:480px; height:360px">
                </div>
            {% endif %}
                <div class="rw-column">
                    {% for item in disease %}
                        {% for k, v in item.items() %}
                            <h4>{{ k }}</h4>
                            <h6>식사요법의 실제 <br>
                            {% for i in v['식사요법의 실제'].replace('\n','').split('\r') %}
                                {{ i }}<br>
                            {% endfor %}
                            </h6>
                            <br>
                            <h6>그 외 주의사항 : {{ v['그 외 주의사항'] }}</h6>
                        {% endfor %}
                    {% endfor %}
                </div>
                </div>
            </div>
            <script>
                $('.card-row > div:first').css('', "15px");
                $('.rw-section.rw-container.right-sidebar').css('padding', "35px");
                $('.card-row').css('display', "flex");
            </script>
            <div class="rw-column rw-content">
                <div class="rw-row subtle large border-tb" style="text-align: center">

                    <div class="grid-container carousel-container">

                        <div class="grid desk-6 mob-6">
                            <h4 class="carousel-posts-heading">추천 레시피</h4>
                        </div>
                        <div class="clear"></div>

                        <!-- 메뉴 TODO 메뉴-->
                        {% set src = ["../static/assets/placeholder/food/350x240/18.jpg", "../static/assets/placeholder/food/350x240/1.jpg", "../static/assets/placeholder/food/350x240/4.jpg", "../static/assets/placeholder/food/350x240/5.jpg", "../static/assets/placeholder/food/350x240/9.jpg"] %}
                        <!-- TODO 메뉴 목록 만들기 참조 (1페이지에 20개, 각 행에 4개씩 5행)-->
                        <!-- 한행에 다 보여주려면 맨 바깥 for는 필요 없음 -->
                        {% for i in range(5) %}
                            <div class="home-carousel-posts clearfix"> <!-- 한 행을 구성하는 div 클래스 -->
                                <!-- loop.index는 현제 루프가 몇번째인지 알려줌 1,2,.... -->

                                <!-- 1 | int 는 1을 int로 취급하게 함. (경우에 따라 안하면 문자열로 인식함) -->

                                <!-- data는 계산된 지수들을 가지고 있는 딕셔너리,
                                     rate는 계산된 지수를 오름/내림 차순 정렬한 음식명 리스트
                                     menu는 음식명 -->
                                {#                                {% for menu in rate[ ((loop.index | int)-(1|int)) * 5 : loop.index * 5 -(1|int)] %}#}
                                {% for menu in rate[  (((pageNum|int-(1|int))*5)+((loop.index | int)-(1|int))) * 4 : (((pageNum|int-(1|int))*5)+((loop.index | int))) * 4] %}

                                    <!-- Entry 한행에 들어갈 메뉴들 개수에 따라서 4개를 초과하면 좌우 스크롤이 가능 -->
                                    <div class="entry style-columns">
                                        <div class="entry-photo"> <!-- 사진 -->
                                            {% for j in recipe %}
                                                {% if j['food_name'] == menu %}
                                                    {#                                                    <h1>{{ j['img'] | length }}</h1>#}
                                                    <img src="{{ j['img'] }}" style="width:240px; height:180px;"
                                                         alt=""/>
                                                {% endif %}
                                            {% endfor %}

                                        </div>

                                        {#                                        {% if (menu|length)|int > 10 %}#}
                                        {#                                            <div class="entry-title" style="font-size:10px"> <!-- 메뉴 제목 -->#}
                                        {#                                                <a name='menu' href='recipe?value={{ menu }}'>{{ menu }}</a>#}
                                        {#                                            </div>#}
                                        {#                                        {% else %}#}
                                        <div class="entry-title" style="height:3.6em; overflow : hidden"> <!-- 메뉴 제목 -->
                                            <a name='menu' href='recipe?value={{ menu }}'>{{ menu }}</a>
                                        </div>
                                        {#                                        {% endif %}#}
                                        <br>
                                        <div class="entry-content"> <!-- 세부 내용 -->
                                            {#                                            {{ menu }}#}
                                            {#                                            {{ data[menu] }}#}
                                            {#                                            <br>#}
                                            <div class="row" style="margin-right: 5px">
                                                <div class="col-4 mb-2 bg-success text-white">권장률
                                                    ({{ '%0.2f' % (data[menu]['권장률'] * 100) |float }}%)
                                                </div>
                                                <div class="col-4  mb-2 bg-danger text-white">위험률
                                                    ({{ '%0.2f' % (data[menu]['위험률'] * 100) |float }}%)
                                                </div>
                                                <div class="col-4  mb-2 bg-primary text-white" style="font-size: 14px">
                                                    추천지수 ({{ '%0.2f' % (data[menu]['추천지수'] * 100) |float }}%)
                                                </div>
                                            </div>

                                            {#                                            <p>{{ (data[menu]['권장률'] * 100 ),"%", (data[menu]['위험률'] * 100),"%" , (data[menu]['추천지수'] * 100 ), "%" }}</p>#}
                                        </div>

                                    </div> <!-- .entry -->

                                {% endfor %}
                            </div> <!-- .home-carousel-posts -->
                        {% endfor %}


                    </div>
                    <div class="text-center" style="display: inline-block">
                        <nav aria-label="Page navigation">
                            <ul class="pagination" id="pagination"></ul>
                        </nav>
                    </div>
                </div>

            </div> <!-- .rw-row -->


        </div>

    </div> <!-- .rw-inner -->
    </div> <!-- .rw-container -->

    <!--
    // ===================================^__^=================================== //
       Footer
    // ===================================^__^=================================== //
    -->
    <div class="rw-section rw-footer">
        <div class="rw-inner clearfix">
            <div class="grid-container">

                <div class="grid desk-6">
                    <div class="footer-totals clearfix">

                        <div class="total red clearfix">
                            <a href="recipes.php">
                                <span class="mark value">13472</span>
                                <span class="type">Recipes</span>
                            </a>
                        </div>

                        <div class="total green clearfix">
                            <a href="members.php">
                                <span class="mark value">5649</span>
                                <span class="type">Members</span>
                            </a>
                        </div>

                        <div class="total blue clearfix">
                            <a href="public-collections.php">
                                <span class="mark value">728</span>
                                <span class="type">Collections</span>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="grid desk-6">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <a href="#rw-layout" class="footer-to-top" title="Go to top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div> <!-- .layout-footer -->

</section><!-- .rw-layout -->

<!-- Javascript -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="../static/../static/assets/js/min/smk-menu.min.js"></script>
<script src="../static/../static/assets/js/rw-sidebar.js"></script>
<script src="../static/../static/assets/js/min/jquery.qtip.min.js"></script>
<script src="../static/../static/assets/js/min/smk-accordion.min.js"></script>
<script src="../static/../static/assets/js/min/smk-visual-select.min.js"></script>
<script src="../static/../static/assets/js/min/owl.carousel.min.js"></script>
<script src="../static/../static/assets/js/scripts.js"></script>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://sliptree.github.io/bootstrap-tokenfield/docs-assets/js/typeahead.bundle.min.js'></script>
<script src='https://sliptree.github.io/bootstrap-tokenfield/dist/bootstrap-tokenfield.js'></script>


<script src="../static/assets/js/index.js"></script>
<script src="../static/assets/js/twbsPagination.js" type="text/javascript"></script>
<script src="../static/assets/js/jquery.cookie.js"></script>


<script type="text/javascript">
    var gpage;

    gpage = $.cookie('page');
    console.log('page cookie : ' + gpage);


    if (gpage == undefined) {
        gpage = 1;
    }
    console.log('page : ' + gpage);


    var form;


    $(function () {
        if (window.pagObj == undefined) {

            var total = {{ (((rate|length)|int)/20)|int }};

            if(parseInt(gpage) > parseInt(total))
                total = gpage;

            window.pagObj = $('#pagination').twbsPagination({
                totalPages: parseInt(total),
                visiblePages: 10,
                startPage: parseInt(gpage),
                onPageClick: function (event, page) {
                    console.info(page + ' (from options)');
                    console.log('page in : ' + gpage);

                    $.cookie('page', page);

                    if (gpage != undefined)
                        gpage = $.cookie('page');
                    page = gpage;
                    {#if(page.toString() != "1"){#}
                    // form
                    console.log('page after : ' + gpage);

                    form = document.createElement("form");
                    form.setAttribute("method", "post");
                    form.setAttribute("action", "{{ url_for('query') }}");

                    document.body.appendChild(form);


                    //input
                    var input_id = document.createElement("input");

                    input_id.setAttribute("type", "hidden");
                    input_id.setAttribute("name", "pageNum");
                    input_id.setAttribute("value", page);

                    form.appendChild(input_id);


                }
            }).on('page', function (event, page) {
                form.submit();                    //폼전송

                console.info(page + ' (from event listening)');
            });
        }

    });
</script>


<script>


</script>
</body>
</html>