<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Page title</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Dosis">
	<link rel="stylesheet" href="../static/assets/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../static/assets/fonts/awards/awards.css" />
	<link rel="stylesheet" href="../static/assets/css/styles.css" />
	<!--[if lt IE 9]>
	    <script src="../static/assets/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
<section id="rw-layout" class="rw-layout">

<!--
// ===================================^__^=================================== //
   Header
// ===================================^__^=================================== //
-->
<div class="rw-section rw-header">
	<div class="rw-inner clearfix">
		<div class="grid-container">

			<div class="grid desk-8 mob-6 alpha clearfix">
				<div class="logo-holder">
					<img src="../static/assets/placeholder/logo.png" class="logo" alt="" />
				</div>
				<nav id="the-main-menu" class="main-menu-nav menu-inline" data-breakpoint="1160">
					<ul class="menu horizontal">
						<li><a href="index.html">Home</a></li>
						<li>
							<a href="recipes.html">Recipes</a>
							<ul class="sub-menu">
								<li><a href="single-recipe.html">Single recipe</a></li>
								<li><a href="submit-recipe.html">Submit recipe</a></li>
							</ul>
						</li>
						<li>
							<a href="blog.html">Blog</a>					
							<ul class="sub-menu">
								<li><a href="single-blog.html">Blog single</a></li>
							</ul>
						</li>			
						<li>
							<a href="recipe-tag-index.html">Index</a>
							<ul class="sub-menu">
								<li><a href="recipe-tag-index.html">Tags</a></li>
								<li><a href="recipe-ingredients.html">Ingredients</a></li>
							</ul>
						</li>
						<li><a href="forums.html">Forums</a></li>
						<li><a href="requests.html">Requests</a></li>
						<li>
							<a href="#">Pages</a>
							<ul class="sub-menu">
								<li><a href="members.html">Members</a></li>
								<li><a href="public-collections.html">Public collections</a></li>
								<li><a href="help-faq.html">Help: FAQ</a></li>
								<li><a href="help-ask-question.html">Help: Ask question</a></li>
								<li><a href="help-all-questions.html">Help: All questions</a></li>
								<li><a href="404.html">404 page</a></li>
								<li>
									<a href="#">Next sub menu</a>
									<ul class="sub-menu">
										<li><a href="#">Test this</a></li>
										<li><a href="#">Test this</a></li>
										<li><a href="#">Test this</a></li>
										<li>
											<a href="#">Menu2</a>
											<ul class="sub-menu">
												<li><a href="#">Test this</a></li>
												<li><a href="#">Test this</a></li>
												<li><a href="#">Test this</a></li>
												<li>
													<a href="#">Next sub menu3</a>
													<ul class="sub-menu">
														<li><a href="#">Test this</a></li>
														<li><a href="#">Test this</a></li>
														<li><a href="#">Test this</a></li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="page-sidebar-right.html">Page sidebar right</a></li>
								<li><a href="page-sidebar-left.html">Page sidebar left</a></li>
							</ul>
						</li>
						<li>
							<a href="elem-colors.html">More</a>
							<ul class="sub-menu">
								<li><a href="elem-colors.html">Colors</a></li>
								<li><a href="elem-buttons.html">Buttons</a></li>
								<li><a href="elem-typography.html">Typography</a></li>
								<li><a href="elem-form.html">Form</a></li>
								<li><a href="elem-accordion.html">Accordion</a></li>
								<li><a href="elem-grid.html">Grid system</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<div class="grid desk-4 mob-6 omega">
				<nav id="the-user-menu" class="main-menu-nav">
					<ul class="menu horizontal align-right">

						<!-- Notifications -->
						<li class="to-left-more">
							<a href="profile-notifications.html" class="menu-single-icon">
								<i class="fa fa-bell"></i>
							</a>
							<ul class="sub-menu user-notes">
								
								<li>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/3.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Jeff Mitchell</a> on <a href="#">Chicken Salad with...</a></div>
											<div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-comment-o type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/4.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Michelle Nelson</a> followed you</div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-check-square-o type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/5.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Steven Martinez</a> liked <a href="#">Spicy Rapid Roast Chicken</a></div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-thumbs-o-up type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/8.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Daniel Thompson</a> added to favorites <a href="#">Creamy Shrimp and Broccoli Fettuccine</a></div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-heart-o type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/19.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Maria Bello</a> added <a href="#">Chicken and Rice Casserole</a> to the collection <a href="#">Special recipes</a></div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-bookmark-o type"></i>
										</div>
									</div>
								</li>
								
								<li class="go-to-all"><a href="profile-notifications.html">View all notifications</a></li>
							</ul>
						</li>

						<!-- Messages -->
						<li class="to-left-more">
							<a href="profile-private-messages.html" class="menu-single-icon">
								<i class="fa fa-envelope"></i>
								<span class="new-info">2</span>
							</a>
							<ul class="sub-menu user-notes">
								<li>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/22.jpg" class="avatar" alt="" />
												<div class="username">Steven Martinez</div>
												<div class="message">"Hello, I need help regarding your recipe..."</div>
												<div class="date">5 minutes ago</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/21.jpg" class="avatar" alt="" />
												<div class="username">Michelle Nelson</div>
												<div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
												<div class="date">5 days ago</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/1.jpg" class="avatar" alt="" />
												<div class="username">Jeff Mitchell</div>
												<div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
												<div class="date">28 jan 2014</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/11.jpg" class="avatar" alt="" />
												<div class="username">Daniel Thompson</div>
												<div class="message">"Quis nostrud exercitation ullamco..."</div>
												<div class="date">28 jan 2014</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
								</li>
								
								<li class="go-to-all"><a href="profile-private-messages.html">View all messages</a></li>
							</ul>
						</li>

						<!-- Submission -->
						<li class="to-left-more">
							<a href="#" class="menu-single-icon"><i class="fa fa-plus"></i></a>
							<ul class="sub-menu">
								<li><a href="submit-recipe.html">Submit recipe</a></li>
								<li><a href="submit-request.html">Request a recipe</a></li>
								<li><a href="submit-forum-topic.html">New forums topic</a></li>
							</ul>
						</li>

						<!-- User menu -->
						<li class="to-left-more">
							<div class="user-details-in-menu">
								<a href="profile.html" class="avatar"><img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" /></a>
							</div>
							<ul class="sub-menu">
								<li><a href="profile.html">Public Profile</a></li>
								<li class="separator"><a href="profile-requests.html">Requests</a></li>
								<li><a href="profile-collections.html">Collections</a></li>
								<li><a href="profile-favorites.html">Favorites</a></li>
								<li class="separator"><a href="profile-likes.html">Likes</a></li>
								<li><a href="profile-reputation.html">Reputation</a></li>
								<li class="separator"><a href="profile-followers.html">Followers</a></li>
								<li><a href="profile-notifications.html">Notifications</a></li>
								<li><a href="profile-private-messages.html">Private Messages</a></li>
								<li class="separator"><a href="#">Settings</a></li>
								<li><a href="#">Sign Out</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</div> <!-- .grid-container -->
	</div> <!-- .rw-inner -->
</div> <!-- .rw-header -->

<!--
// ===================================^__^=================================== //
   Content
// ===================================^__^=================================== //
-->

<div class="rw-container rw-section">
	<div class="rw-inner clearfix">

		<!-- Main content -->
		<div class="rw-column rw-content">

			<div class="rw-row page-breadcrumb">
				<a href="#">Home</a> &raquo; <span>Sarah Gonzalez Reputation</span>
			</div>
			<div class="rw-row page-title">
				<div class="grid-container">
					<h1><a href="#">Sarah Gonzalez</a> Reputation</h1>
				</div>
				
			</div>

			<div class="rw-row">
				<div class="grid-container">
					<div class="profile-reputation">
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+5</span></div>
							<div class="grid desk-3 date"><span>24 February 2014, 5:59</span></div>
							<div class="grid desk-8 text">Iudices titulo massam mentis laedis soluni regalia atticas</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>15 May 2012, 6:43</span></div>
							<div class="grid desk-8 text">Gigantem accelerare suspicio inncem tantum</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+5</span></div>
							<div class="grid desk-3 date"><span>07 July 2010, 11:10</span></div>
							<div class="grid desk-8 text">Sentiunt ossibus deliciae superbam praecustodio gualitatibus glaebam eminentiam destitutus</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+30</span></div>
							<div class="grid desk-3 date"><span>03 January 2012, 21:44</span></div>
							<div class="grid desk-8 text">Calcat navigabile possessores hibernorum liber apparct legitima</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>15 April 2011, 18:12</span></div>
							<div class="grid desk-8 text">Destinatum massam mentis laedis soluni regalia atticas vincit accelerare</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>19 December 2013, 10:39</span></div>
							<div class="grid desk-8 text">Iudicit inncem tantum septima ossibus deliciae superbam praecustodio gualitatibus</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>06 December 2013, 10:56</span></div>
							<div class="grid desk-8 text">Pinguem eminentiam destitutus firmare navigabile possessores hibernorum liber apparct legitima</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>03 September 2010, 3:18</span></div>
							<div class="grid desk-8 text">Destinatum massam mentis laedis soluni</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+10</span></div>
							<div class="grid desk-3 date"><span>01 August 2010, 8:47</span></div>
							<div class="grid desk-8 text">Blandientis atticas vincit accelerare suspicio inncem tantum septima ossibus</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+20</span></div>
							<div class="grid desk-3 date"><span>23 July 2010, 22:19</span></div>
							<div class="grid desk-8 text">Proprium superbam praecustodio gualitatibus glaebam eminentiam destitutus</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+30</span></div>
							<div class="grid desk-3 date"><span>18 February 2014, 20:54</span></div>
							<div class="grid desk-8 text">Calcat navigabile possessores hibernorum liber</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+20</span></div>
							<div class="grid desk-3 date"><span>09 July 2011, 19:55</span></div>
							<div class="grid desk-8 text">Foederatos legitima titulo massam mentis laedis soluni regalia atticas</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>25 October 2010, 0:51</span></div>
							<div class="grid desk-8 text">Gigantem accelerare suspicio inncem tantum septima</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>11 October 2012, 21:48</span></div>
							<div class="grid desk-8 text">Confessionem deliciae superbam praecustodio gualitatibus glaebam eminentiam destitutus firmare</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+30</span></div>
							<div class="grid desk-3 date"><span>07 July 2013, 10:17</span></div>
							<div class="grid desk-8 text">Fortuna possessores hibernorum liber apparct legitima</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark red">-2</span></div>
							<div class="grid desk-3 date"><span>15 December 2011, 6:44</span></div>
							<div class="grid desk-8 text">Praetextu massam mentis laedis soluni regalia atticas vincit</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>22 June 2010, 22:56</span></div>
							<div class="grid desk-8 text">Utriuque suspicio inncem tantum septima ossibus deliciae superbam praecustodio gualitatibus</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>04 July 2013, 11:34</span></div>
							<div class="grid desk-8 text">Pinguem eminentiam destitutus firmare navigabile possessores</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>21 March 2010, 20:35</span></div>
							<div class="grid desk-8 text">Nosset liber apparct legitima titulo massam</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>16 April 2011, 14:35</span></div>
							<div class="grid desk-8 text">Barbarus laedis soluni regalia atticas vincit</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>04 May 2012, 0:39</span></div>
							<div class="grid desk-8 text">Utriuque suspicio inncem tantum septima ossibus</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+20</span></div>
							<div class="grid desk-3 date"><span>05 December 2010, 2:45</span></div>
							<div class="grid desk-8 text">Proprium superbam praecustodio gualitatibus glaebam eminentiam destitutus firmare navigabile</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>29 September 2010, 5:36</span></div>
							<div class="grid desk-8 text">Dantis hibernorum liber apparct legitima titulo massam mentis</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>26 February 2012, 10:21</span></div>
							<div class="grid desk-8 text">Diffidis soluni regalia atticas vincit accelerare suspicio inncem tantum septima</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>20 September 2010, 18:39</span></div>
							<div class="grid desk-8 text">Confessionem deliciae superbam praecustodio gualitatibus glaebam eminentiam destitutus firmare navigabile</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>23 November 2012, 4:19</span></div>
							<div class="grid desk-8 text">Dantis hibernorum liber apparct legitima titulo</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>03 November 2012, 17:34</span></div>
							<div class="grid desk-8 text">Arenam mentis laedis soluni regalia atticas vincit accelerare suspicio</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+30</span></div>
							<div class="grid desk-3 date"><span>02 October 2010, 11:42</span></div>
							<div class="grid desk-8 text">Fervore tantum septima ossibus deliciae superbam praecustodio gualitatibus glaebam</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>11 August 2014, 6:22</span></div>
							<div class="grid desk-8 text">Elicuit destitutus firmare navigabile possessores hibernorum</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>13 March 2010, 1:43</span></div>
							<div class="grid desk-8 text">Zzril apparct legitima titulo massam mentis laedis</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>05 August 2010, 13:35</span></div>
							<div class="grid desk-8 text">Iactura regalia atticas vincit accelerare suspicio inncem tantum septima</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>10 January 2013, 14:14</span></div>
							<div class="grid desk-8 text">Confessionem deliciae superbam praecustodio gualitatibus</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark red">-2</span></div>
							<div class="grid desk-3 date"><span>10 September 2010, 2:59</span></div>
							<div class="grid desk-8 text">Pinguem eminentiam destitutus firmare navigabile possessores hibernorum</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>04 February 2012, 13:23</span></div>
							<div class="grid desk-8 text">Zzril apparct legitima titulo massam mentis laedis soluni regalia atticas</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>04 August 2011, 19:60</span></div>
							<div class="grid desk-8 text">Gigantem accelerare suspicio inncem tantum septima ossibus deliciae superbam praecustodio</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+30</span></div>
							<div class="grid desk-3 date"><span>10 July 2012, 12:54</span></div>
							<div class="grid desk-8 text">Detrimento glaebam eminentiam destitutus firmare navigabile possessores hibernorum liber</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+20</span></div>
							<div class="grid desk-3 date"><span>11 May 2012, 14:21</span></div>
							<div class="grid desk-8 text">Foederatos legitima titulo massam mentis</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>14 November 2010, 21:41</span></div>
							<div class="grid desk-8 text">Diffidis soluni regalia atticas vincit accelerare suspicio inncem tantum septima</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>26 February 2014, 2:54</span></div>
							<div class="grid desk-8 text">Confessionem deliciae superbam praecustodio gualitatibus glaebam eminentiam destitutus firmare</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+30</span></div>
							<div class="grid desk-3 date"><span>28 September 2014, 19:53</span></div>
							<div class="grid desk-8 text">Fortuna possessores hibernorum liber apparct legitima</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>07 January 2012, 15:13</span></div>
							<div class="grid desk-8 text">Destinatum massam mentis laedis soluni regalia atticas vincit accelerare</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>17 May 2014, 4:53</span></div>
							<div class="grid desk-8 text">Iudicit inncem tantum septima ossibus deliciae superbam</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+30</span></div>
							<div class="grid desk-3 date"><span>24 March 2012, 7:54</span></div>
							<div class="grid desk-8 text">Potentissimos gualitatibus glaebam eminentiam destitutus</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+30</span></div>
							<div class="grid desk-3 date"><span>25 September 2013, 2:43</span></div>
							<div class="grid desk-8 text">Calcat navigabile possessores hibernorum liber apparct legitima titulo</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>27 January 2014, 10:22</span></div>
							<div class="grid desk-8 text">Arenam mentis laedis soluni regalia atticas</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>28 February 2014, 18:23</span></div>
							<div class="grid desk-8 text">Gigantem accelerare suspicio inncem tantum</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+5</span></div>
							<div class="grid desk-3 date"><span>19 March 2014, 1:54</span></div>
							<div class="grid desk-8 text">Sentiunt ossibus deliciae superbam praecustodio gualitatibus glaebam eminentiam</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+5</span></div>
							<div class="grid desk-3 date"><span>08 February 2013, 13:10</span></div>
							<div class="grid desk-8 text">Destituta firmare navigabile possessores hibernorum liber apparct</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+5</span></div>
							<div class="grid desk-3 date"><span>07 November 2013, 1:18</span></div>
							<div class="grid desk-8 text">Iudices titulo massam mentis laedis soluni regalia</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>09 May 2014, 19:28</span></div>
							<div class="grid desk-8 text">Sollemnes vincit accelerare suspicio inncem tantum</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+5</span></div>
							<div class="grid desk-3 date"><span>23 August 2012, 0:33</span></div>
							<div class="grid desk-8 text">Sentiunt ossibus deliciae superbam praecustodio</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+30</span></div>
							<div class="grid desk-3 date"><span>08 November 2011, 8:51</span></div>
							<div class="grid desk-8 text">Detrimento glaebam eminentiam destitutus firmare navigabile possessores hibernorum liber</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+20</span></div>
							<div class="grid desk-3 date"><span>18 March 2012, 7:39</span></div>
							<div class="grid desk-8 text">Foederatos legitima titulo massam mentis laedis soluni</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+10</span></div>
							<div class="grid desk-3 date"><span>08 June 2012, 22:10</span></div>
							<div class="grid desk-8 text">Blandientis atticas vincit accelerare suspicio inncem tantum septima</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>21 August 2011, 2:18</span></div>
							<div class="grid desk-8 text">Confessionem deliciae superbam praecustodio gualitatibus glaebam eminentiam</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+5</span></div>
							<div class="grid desk-3 date"><span>18 July 2011, 1:24</span></div>
							<div class="grid desk-8 text">Destituta firmare navigabile possessores hibernorum liber</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+20</span></div>
							<div class="grid desk-3 date"><span>04 August 2011, 13:20</span></div>
							<div class="grid desk-8 text">Foederatos legitima titulo massam mentis laedis soluni regalia atticas vincit</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>06 May 2010, 21:13</span></div>
							<div class="grid desk-8 text">Utriuque suspicio inncem tantum septima ossibus</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+20</span></div>
							<div class="grid desk-3 date"><span>06 February 2011, 6:54</span></div>
							<div class="grid desk-8 text">Proprium superbam praecustodio gualitatibus glaebam eminentiam destitutus firmare</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+30</span></div>
							<div class="grid desk-3 date"><span>25 July 2012, 11:55</span></div>
							<div class="grid desk-8 text">Fortuna possessores hibernorum liber apparct legitima titulo massam mentis laedis</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>10 May 2011, 17:48</span></div>
							<div class="grid desk-8 text">Iactura regalia atticas vincit accelerare suspicio inncem tantum septima ossibus</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+20</span></div>
							<div class="grid desk-3 date"><span>24 February 2010, 2:53</span></div>
							<div class="grid desk-8 text">Proprium superbam praecustodio gualitatibus glaebam eminentiam destitutus firmare navigabile</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>20 May 2013, 4:38</span></div>
							<div class="grid desk-8 text">Dantis hibernorum liber apparct legitima titulo</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>07 September 2012, 13:56</span></div>
							<div class="grid desk-8 text">Arenam mentis laedis soluni regalia atticas vincit accelerare</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>24 May 2014, 19:30</span></div>
							<div class="grid desk-8 text">Iudicit inncem tantum septima ossibus deliciae superbam</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+30</span></div>
							<div class="grid desk-3 date"><span>01 October 2012, 7:48</span></div>
							<div class="grid desk-8 text">Potentissimos gualitatibus glaebam eminentiam destitutus firmare navigabile possessores</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>30 April 2013, 9:58</span></div>
							<div class="grid desk-8 text">Nosset liber apparct legitima titulo massam</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>04 January 2012, 13:14</span></div>
							<div class="grid desk-8 text">Barbarus laedis soluni regalia atticas</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>22 March 2011, 8:52</span></div>
							<div class="grid desk-8 text">Gigantem accelerare suspicio inncem tantum septima ossibus deliciae superbam praecustodio</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+30</span></div>
							<div class="grid desk-3 date"><span>25 April 2014, 8:50</span></div>
							<div class="grid desk-8 text">Detrimento glaebam eminentiam destitutus firmare navigabile possessores hibernorum liber apparct</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+5</span></div>
							<div class="grid desk-3 date"><span>24 December 2013, 4:15</span></div>
							<div class="grid desk-8 text">Iudices titulo massam mentis laedis soluni regalia atticas</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>17 February 2013, 12:22</span></div>
							<div class="grid desk-8 text">Gigantem accelerare suspicio inncem tantum septima ossibus deliciae superbam praecustodio</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark red">-2</span></div>
							<div class="grid desk-3 date"><span>05 November 2012, 9:25</span></div>
							<div class="grid desk-8 text">Gratulatione glaebam eminentiam destitutus firmare navigabile possessores hibernorum liber apparct</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+5</span></div>
							<div class="grid desk-3 date"><span>08 April 2013, 19:27</span></div>
							<div class="grid desk-8 text">Iudices titulo massam mentis laedis soluni regalia</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>11 May 2013, 21:50</span></div>
							<div class="grid desk-8 text">Sollemnes vincit accelerare suspicio inncem tantum septima ossibus deliciae</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+10</span></div>
							<div class="grid desk-3 date"><span>26 August 2011, 3:38</span></div>
							<div class="grid desk-8 text">Parcam praecustodio gualitatibus glaebam eminentiam destitutus firmare navigabile possessores hibernorum</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>10 May 2013, 4:21</span></div>
							<div class="grid desk-8 text">Zzril apparct legitima titulo massam mentis laedis soluni</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+10</span></div>
							<div class="grid desk-3 date"><span>17 March 2014, 2:35</span></div>
							<div class="grid desk-8 text">Blandientis atticas vincit accelerare suspicio inncem</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+10</span></div>
							<div class="grid desk-3 date"><span>16 April 2013, 5:47</span></div>
							<div class="grid desk-8 text">Ordinario septima ossibus deliciae superbam</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+30</span></div>
							<div class="grid desk-3 date"><span>29 August 2012, 11:49</span></div>
							<div class="grid desk-8 text">Potentissimos gualitatibus glaebam eminentiam destitutus firmare navigabile</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>10 October 2011, 12:58</span></div>
							<div class="grid desk-8 text">Dantis hibernorum liber apparct legitima</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>03 April 2013, 6:39</span></div>
							<div class="grid desk-8 text">Destinatum massam mentis laedis soluni regalia</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>26 April 2010, 13:43</span></div>
							<div class="grid desk-8 text">Sollemnes vincit accelerare suspicio inncem tantum septima</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>15 September 2013, 12:12</span></div>
							<div class="grid desk-8 text">Confessionem deliciae superbam praecustodio gualitatibus glaebam eminentiam destitutus firmare navigabile</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>26 June 2013, 15:21</span></div>
							<div class="grid desk-8 text">Dantis hibernorum liber apparct legitima titulo massam</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>18 July 2014, 2:26</span></div>
							<div class="grid desk-8 text">Barbarus laedis soluni regalia atticas vincit accelerare suspicio inncem tantum</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+5</span></div>
							<div class="grid desk-3 date"><span>21 August 2013, 12:54</span></div>
							<div class="grid desk-8 text">Sentiunt ossibus deliciae superbam praecustodio</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+30</span></div>
							<div class="grid desk-3 date"><span>08 October 2013, 15:54</span></div>
							<div class="grid desk-8 text">Detrimento glaebam eminentiam destitutus firmare navigabile possessores</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>02 December 2013, 21:58</span></div>
							<div class="grid desk-8 text">Nosset liber apparct legitima titulo</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>11 April 2010, 6:26</span></div>
							<div class="grid desk-8 text">Arenam mentis laedis soluni regalia atticas vincit accelerare</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>01 September 2010, 11:48</span></div>
							<div class="grid desk-8 text">Iudicit inncem tantum septima ossibus</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+20</span></div>
							<div class="grid desk-3 date"><span>30 September 2014, 2:23</span></div>
							<div class="grid desk-8 text">Proprium superbam praecustodio gualitatibus glaebam eminentiam</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+5</span></div>
							<div class="grid desk-3 date"><span>06 November 2013, 15:54</span></div>
							<div class="grid desk-8 text">Destituta firmare navigabile possessores hibernorum</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark red">-5</span></div>
							<div class="grid desk-3 date"><span>22 May 2012, 12:31</span></div>
							<div class="grid desk-8 text">Delenit apparct legitima titulo massam mentis</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+2</span></div>
							<div class="grid desk-3 date"><span>26 July 2011, 0:54</span></div>
							<div class="grid desk-8 text">Diffidis soluni regalia atticas vincit accelerare</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>05 April 2012, 21:35</span></div>
							<div class="grid desk-8 text">Iudicit inncem tantum septima ossibus deliciae superbam praecustodio gualitatibus glaebam</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>25 January 2011, 18:24</span></div>
							<div class="grid desk-8 text">Elicuit destitutus firmare navigabile possessores</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+15</span></div>
							<div class="grid desk-3 date"><span>02 January 2012, 5:29</span></div>
							<div class="grid desk-8 text">Nosset liber apparct legitima titulo massam mentis laedis soluni</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+10</span></div>
							<div class="grid desk-3 date"><span>12 August 2014, 1:28</span></div>
							<div class="grid desk-8 text">Blandientis atticas vincit accelerare suspicio inncem tantum septima ossibus deliciae</div>
						</div>
						
						<div class="reputation-event clearfix">
							<div class="grid desk-1 points"><span class="mark green">+10</span></div>
							<div class="grid desk-3 date"><span>16 June 2013, 12:15</span></div>
							<div class="grid desk-8 text">Parcam praecustodio gualitatibus glaebam eminentiam destitutus firmare</div>
						</div>

					</div> <!-- .profile-reputation -->
						
					<div class="profile-reputation-pagination button-block center">
						<span class="button small nobg primary current">1</span>
						<a class="button small nobg primary" href="#">2</a>
						<a class="button small nobg primary" href="#">3</a>
						<a class="button small nobg primary" href="#">...</a>
						<a class="button small nobg primary" href="#">192</a>
						<a class="button small nobg primary" href="#">Next &rarr;</a>
					</div>

					<div class="clear"></div>
				</div> <!-- .grid-container -->
			</div> <!-- .rw-row -->

		</div> <!-- .rw-content -->

	</div> <!-- .rw-inner -->
</div> <!-- .rw-container -->

<!--
// ===================================^__^=================================== //
   Footer
// ===================================^__^=================================== //
-->
<div class="rw-section rw-footer">
	<div class="rw-inner clearfix">
		<div class="grid-container">
			
			<div class="grid desk-6">
				<div class="footer-totals clearfix">
					
					<div class="total red clearfix">
						<a href="recipes.php">
							<span class="mark value">13472</span>
							<span class="type">Recipes</span>
						</a>
					</div>
					
					<div class="total green clearfix">
						<a href="members.php">
							<span class="mark value">5649</span>
							<span class="type">Members</span>
						</a>
					</div>

					<div class="total blue clearfix">
						<a href="public-collections.php">
							<span class="mark value">728</span>
							<span class="type">Collections</span>
						</a>
					</div>

				</div>
			</div>

			<div class="grid desk-6">
				<div class="footer-menu">
					<ul>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Copyright</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>

		</div>
		<a href="#rw-layout" class="footer-to-top" title="Go to top">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>
</div> <!-- .layout-footer -->

</section><!-- .rw-layout -->

<!-- Javascript -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="../static/assets/js/min/smk-menu.min.js"></script>
<script src="../static/assets/js/rw-sidebar.js"></script>
<script src="../static/assets/js/min/jquery.qtip.min.js"></script>
<script src="../static/assets/js/min/smk-accordion.min.js"></script>
<script src="../static/assets/js/min/smk-visual-select.min.js"></script>
<script src="../static/assets/js/min/owl.carousel.min.js"></script>
<script src="../static/assets/js/scripts.js"></script>
</body>
</html>