<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Page title</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Dosis">
	<link rel="stylesheet" href="../static/assets/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../static/assets/fonts/awards/awards.css" />
	<link rel="stylesheet" href="../static/assets/css/styles.css" />
	<!--[if lt IE 9]>
	    <script src="../static/assets/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
<section id="rw-layout" class="rw-layout">

<!--
// ===================================^__^=================================== //
   Header
// ===================================^__^=================================== //
-->
<div class="rw-section rw-header">
	<div class="rw-inner clearfix">
		<div class="grid-container">

			<div class="grid desk-8 mob-6 alpha clearfix">
				<div class="logo-holder">
					<img src="../static/assets/placeholder/logo.png" class="logo" alt="" />
				</div>
				<nav id="the-main-menu" class="main-menu-nav menu-inline" data-breakpoint="1160">
					<ul class="menu horizontal">
						<li><a href="index.html">Home</a></li>
						<li>
							<a href="recipes.html">Recipes</a>
							<ul class="sub-menu">
								<li><a href="single-recipe.html">Single recipe</a></li>
								<li><a href="submit-recipe.html">Submit recipe</a></li>
							</ul>
						</li>
						<li>
							<a href="blog.html">Blog</a>					
							<ul class="sub-menu">
								<li><a href="single-blog.html">Blog single</a></li>
							</ul>
						</li>			
						<li>
							<a href="recipe-tag-index.html">Index</a>
							<ul class="sub-menu">
								<li><a href="recipe-tag-index.html">Tags</a></li>
								<li><a href="recipe-ingredients.html">Ingredients</a></li>
							</ul>
						</li>
						<li><a href="forums.html">Forums</a></li>
						<li><a href="requests.html">Requests</a></li>
						<li>
							<a href="#">Pages</a>
							<ul class="sub-menu">
								<li><a href="members.html">Members</a></li>
								<li><a href="public-collections.html">Public collections</a></li>
								<li><a href="help-faq.html">Help: FAQ</a></li>
								<li><a href="help-ask-question.html">Help: Ask question</a></li>
								<li><a href="help-all-questions.html">Help: All questions</a></li>
								<li><a href="404.html">404 page</a></li>
								<li>
									<a href="#">Next sub menu</a>
									<ul class="sub-menu">
										<li><a href="#">Test this</a></li>
										<li><a href="#">Test this</a></li>
										<li><a href="#">Test this</a></li>
										<li>
											<a href="#">Menu2</a>
											<ul class="sub-menu">
												<li><a href="#">Test this</a></li>
												<li><a href="#">Test this</a></li>
												<li><a href="#">Test this</a></li>
												<li>
													<a href="#">Next sub menu3</a>
													<ul class="sub-menu">
														<li><a href="#">Test this</a></li>
														<li><a href="#">Test this</a></li>
														<li><a href="#">Test this</a></li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="page-sidebar-right.html">Page sidebar right</a></li>
								<li><a href="page-sidebar-left.html">Page sidebar left</a></li>
							</ul>
						</li>
						<li>
							<a href="elem-colors.html">More</a>
							<ul class="sub-menu">
								<li><a href="elem-colors.html">Colors</a></li>
								<li><a href="elem-buttons.html">Buttons</a></li>
								<li><a href="elem-typography.html">Typography</a></li>
								<li><a href="elem-form.html">Form</a></li>
								<li><a href="elem-accordion.html">Accordion</a></li>
								<li><a href="elem-grid.html">Grid system</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<div class="grid desk-4 mob-6 omega">
				<nav id="the-user-menu" class="main-menu-nav">
					<ul class="menu horizontal align-right">

						<!-- Notifications -->
						<li class="to-left-more">
							<a href="profile-notifications.html" class="menu-single-icon">
								<i class="fa fa-bell"></i>
							</a>
							<ul class="sub-menu user-notes">
								
								<li>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/3.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Jeff Mitchell</a> on <a href="#">Chicken Salad with...</a></div>
											<div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-comment-o type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/4.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Michelle Nelson</a> followed you</div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-check-square-o type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/5.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Steven Martinez</a> liked <a href="#">Spicy Rapid Roast Chicken</a></div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-thumbs-o-up type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/8.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Daniel Thompson</a> added to favorites <a href="#">Creamy Shrimp and Broccoli Fettuccine</a></div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-heart-o type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/19.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Maria Bello</a> added <a href="#">Chicken and Rice Casserole</a> to the collection <a href="#">Special recipes</a></div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-bookmark-o type"></i>
										</div>
									</div>
								</li>
								
								<li class="go-to-all"><a href="profile-notifications.html">View all notifications</a></li>
							</ul>
						</li>

						<!-- Messages -->
						<li class="to-left-more">
							<a href="profile-private-messages.html" class="menu-single-icon">
								<i class="fa fa-envelope"></i>
								<span class="new-info">2</span>
							</a>
							<ul class="sub-menu user-notes">
								<li>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/22.jpg" class="avatar" alt="" />
												<div class="username">Steven Martinez</div>
												<div class="message">"Hello, I need help regarding your recipe..."</div>
												<div class="date">5 minutes ago</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/21.jpg" class="avatar" alt="" />
												<div class="username">Michelle Nelson</div>
												<div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
												<div class="date">5 days ago</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/1.jpg" class="avatar" alt="" />
												<div class="username">Jeff Mitchell</div>
												<div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
												<div class="date">28 jan 2014</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/11.jpg" class="avatar" alt="" />
												<div class="username">Daniel Thompson</div>
												<div class="message">"Quis nostrud exercitation ullamco..."</div>
												<div class="date">28 jan 2014</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
								</li>
								
								<li class="go-to-all"><a href="profile-private-messages.html">View all messages</a></li>
							</ul>
						</li>

						<!-- Submission -->
						<li class="to-left-more">
							<a href="#" class="menu-single-icon"><i class="fa fa-plus"></i></a>
							<ul class="sub-menu">
								<li><a href="submit-recipe.html">Submit recipe</a></li>
								<li><a href="submit-request.html">Request a recipe</a></li>
								<li><a href="submit-forum-topic.html">New forums topic</a></li>
							</ul>
						</li>

						<!-- User menu -->
						<li class="to-left-more">
							<div class="user-details-in-menu">
								<a href="profile.html" class="avatar"><img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" /></a>
							</div>
							<ul class="sub-menu">
								<li><a href="profile.html">Public Profile</a></li>
								<li class="separator"><a href="profile-requests.html">Requests</a></li>
								<li><a href="profile-collections.html">Collections</a></li>
								<li><a href="profile-favorites.html">Favorites</a></li>
								<li class="separator"><a href="profile-likes.html">Likes</a></li>
								<li><a href="profile-reputation.html">Reputation</a></li>
								<li class="separator"><a href="profile-followers.html">Followers</a></li>
								<li><a href="profile-notifications.html">Notifications</a></li>
								<li><a href="profile-private-messages.html">Private Messages</a></li>
								<li class="separator"><a href="#">Settings</a></li>
								<li><a href="#">Sign Out</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</div> <!-- .grid-container -->
	</div> <!-- .rw-inner -->
</div> <!-- .rw-header -->

<!--
// ===================================^__^=================================== //
   Content
// ===================================^__^=================================== //
-->

<div class="rw-container rw-section">
	<div class="rw-inner clearfix">

		<!-- Main content -->
		<div class="rw-column rw-content">

			<div class="rw-row page-breadcrumb">
				<a href="#">Home</a> &raquo; <span>Sarah Gonzalez</span>
			</div>
			<div class="rw-row page-title">
				<div class="grid-container">
					<div class="grid desk-8 mob-8 alpha">
						<h1>Sarah Gonzalez</h1>
					</div>
					<div class="grid desk-4 mob-4 omega">

						<a href="#" class="follow-user button blue right">
							<i class="fa fa-plus"></i> <span class="text">Follow</span>
						</a>

					</div>
				</div>
				
			</div>

			
			<div class="rw-row subtle">
				<div class="grid-container">

					<div class="grid desk-12">
						<ul class="profile-mini-menu">
							<li class="active"><a href="#user-summary">Summary</a></li>
							<li><a href="#user-about">About</a></li>
							<li><a href="#user-send-pm">Send PM</a></li>
							<li class="right link"><a href="#">Settings</a></li>
						</ul> <!-- .profile-mini-menu -->
					</div>
					<div class="clear"></div>

					<div class="grid desk-3">
						<div class="profile-avatar">
							<img src="../static/assets/placeholder/people/256x256/2.jpg" alt="" />
							<div class="social-block">
								<div class="profiles clearfix">
									<a href="#" title="Facebook" class="social-profile facebook">
										<i class="fa fa-facebook"></i>
									</a>
									<a href="#" title="Twitter" class="social-profile twitter">
										<i class="fa fa-twitter"></i>
									</a>
									<a href="#" title="Google+" class="social-profile google-plus">
										<i class="fa fa-google-plus"></i>
									</a>
									<a href="#" title="Vimeo" class="social-profile vimeo">
										<i class="fa fa-vimeo-square"></i>
									</a>
								</div>
							</div> <!-- .social-block -->
						</div> <!-- .profile-avatar -->
					</div>

					<div class="grid desk-9">

						<div id="user-summary" class="profile-user-tab active">
							<div class="grid desk-6 alpha">
								<ul class="profile-rows">
									<li>
										<i class="the-icon fa fa-cutlery"></i>
										<span class="the-label">Cooking Level: </span>
										<span class="the-value mark purple">Expert</span>
									</li>
									<li>
										<i class="the-icon fa fa-history"></i>
										<span class="the-label">Last visit: </span>
										<span class="the-value mark green">5 min ago</span>
									</li>
									<li>
										<i class="the-icon fa fa-child"></i>
										<span class="the-label">Member since: </span>
										<span class="the-value mark light-gray">August 2010</span>
									</li>
									<li>
										<i class="the-icon fa fa-eye"></i>
										<span class="the-label">Profile views: </span>
										<span class="the-value mark light-gray">5146</span>
									</li>
									<li>
										<i class="the-icon fa fa-home"></i>
										<span class="the-label">Living In: </span>
										<span class="the-value">Louisville, Kentucky, USA</span>
									</li>
									<li>
										<i class="the-icon fa fa-globe"></i>
										<span class="the-label">Website: </span>
										<span class="the-value"><a href="#">http://example.com/</a></span>
									</li>
								</ul>
							</div>
							<div class="grid desk-6 omega">
								<div class="following-block clearfix">
									<div class="follow-col reputation">
										<div class="follow-col-in">
											<a href="#"><span class="count">22753</span><span class="title">Reputation</span></a>
										</div>
									</div>
									<div class="follow-col followers">
										<div class="follow-col-in">
											<a href="#"><span class="count">1437</span><span class="title">Followers</span></a>
										</div>
									</div>
									<div class="follow-col following">
										<div class="follow-col-in">
											<a href="#"><span class="count">158</span><span class="title">Following</span></a>
										</div>
									</div>
								</div>
								<div class="clear"></div>

								<div class="awards-block">
									<div class="the-label">Awards</div>
									<div class="awards clearfix">
										
										<a href="#" title="Featured author" class="award-single green"><i class="award-icon-award"></i></a>
										<a href="#" title="Won a competition" class="award-single black"><i class="award-icon-award2"></i></a>
										<a href="#" title="Expert cooking level" class="award-single purple"><i class="award-icon-cooker"></i></a>
										<a href="#" title="Coummunity Superstar" class="award-single red"><i class="award-icon-fivepointed2"></i></a>
										<a href="#" title="Vegetarian" class="award-single orange"><i class="award-icon-fruits"></i></a>
										<a href="#" title="Has contibuted with a sport recipe" class="award-single blue"><i class="award-icon-male"></i></a>
										<a href="#" title="Attended a meetup" class="award-single black"><i class="award-icon-man"></i></a>
										<a href="#" title="Top rated author" class="award-single dark-gray"><i class="award-icon-thumb"></i></a>
										<a href="#" title="Has collected between 50 and 100 recipes" class="award-single red"><i class="award-icon-young2"></i></a>
										<a href="#" title="Reviewer" class="award-single teal"><i class="award-icon-teacher"></i></a>

									</div>
								</div>
							</div>
							<div class="clear"></div>
						</div> <!-- #user-summary -->

						<div id="user-about" class="profile-user-tab">
							<div class="tab-inner">
								<div class="profile-user-bio">
									I received my culinary degree from Paul Smith's College, NY, in 1983. After 15 plus years in the food industry, I was hired as a Chef Instructor at the prestigious California Culinary Academy. 
									After five successful years of teaching, I left to follow my dream of teaching a larger audience online. <br><br>
									6 years later, I run the multiple award-winning blog, which has become one of the most visited video recipe sites online, and is home to over 650 original recipe videos.
								</div>
							</div>
							<div class="clear"></div>
						</div> <!-- #user-about -->

						<div id="user-send-pm" class="profile-user-tab">
							<div class="tab-inner">
								<form method="post" class="private-messaging-form">
									<div class="form-label">Send private message to Sarah Gonzalez</div>
									<textarea name="message" class="private-messaging-textarea"></textarea>
									<input type="submit" class="button primary" value="Send" />
								</form>
							</div>
							<div class="clear"></div>
						</div> <!-- #user-send-pm -->



					</div>
					<div class="clear"></div>

				</div> <!-- .grid-container -->
			</div> <!-- .rw-row -->


			<div class="rw-row subtle border-bottom profile-main-menu-block">
				<div class="grid-container">
					<div class="grid desk-12">
						<div class="profile-main-menu">
							<ul>
								<li>
									<a href="profile.html">
										<span class="title">Recipes</span>
										<span class="count">42</span>
									</a>
								</li>
								<li>
									<a href="profile-collections.html">
										<span class="title">Colections</span>
										<span class="count">3</span>
									</a>
								</li>
								<li>
									<a href="profile-favorites.html">
										<span class="title">Favorites</span>
										<span class="count">72</span>
									</a>
								</li>
								<li>
									<a href="profile-likes.html">
										<span class="title">Likes</span>
										<span class="count">21</span>
									</a>
								</li>
								<li class="active">
									<a href="profile-requests.html">
										<span class="title">Requests</span>
										<span class="count">30</span>
									</a>
								</li>
								<li>
									<a href="profile-forums.html">
										<span class="title">Forums</span>
										<span class="count">4</span>
									</a>
								</li>
								<li>
									<a href="profile-comments.html">
										<span class="title">Comments</span>
										<span class="count">69</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div> <!-- .grid-container -->
			</div> <!-- .rw-row -->

			<div class="rw-row subtle">
				<div class="grid-container">
					<div class="grid desk-12 requests-module">

						<div class="request clearfix">
							<div class="user-avatar">
								<img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" />
							</div>
							<div class="details">
								<div class="title"><a href="#">Laedis soluni regalia atticas vinci</a></div>
								<div class="description">Ac tamen hic mallet non dolere. Sequitur disserendi ratio cognitioque naturae; Itaque hic ipse iam pridem est reiectus; Non enim solum Torquatus dixit quid sentiret, sed etiam...</div>
							</div>
							<div class="meta">
								<span class="date">5 minutes ago</span>
								<span class="activity">1 reply, 5 votes</span>
								<div class="users">
									<a href="#" title="Dorothy D."><img src="../static/assets/placeholder/6.jpg" alt="" /></a>
								</div>
							</div>
						</div>
						
						<div class="request clearfix">
							<div class="user-avatar">
								<img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" />
							</div>
							<div class="details">
								<div class="title"><a href="#">Sequitur disserendi ratio cognitioque naturae</a></div>
								<div class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</div>
								<div class="request-includes">
									<i class="request-icon fa fa-paperclip" title="Has attachments"></i>
									<i class="request-icon fa fa-link" title="Has included at least one link"></i>
									<i class="request-icon fa fa-user" title="Authors only"></i>
								</div>
							</div>
							<div class="meta">
								<span class="date">30  minutes ago</span>
								<span class="activity">7 replies, 72 votes</span>
								<div class="users">
									<a href="#" title="Michelle Nelson"><img src="../static/assets/placeholder/50-1.jpg" alt="" /></a>
									<a href="#" title="Sandra Williams"><img src="../static/assets/placeholder/50-3.jpg" alt="" /></a>
									<a href="#" title="Daniel Thompson"><img src="../static/assets/placeholder/50-4.jpg" alt="" /></a>
								</div>
							</div>
						</div>
						
						<div class="request clearfix">
							<div class="user-avatar">
								<img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" />
							</div>
							<div class="details">
								<div class="title"><a href="#"><span class="request-mark mark red">Hot</span> Non igitur de improbo, sed de callido</a></div>
								<div class="description">Immo istud quidem, inquam, quo loco quidque, nisi iniquum postulo, arbitratu meo. Satis est ad hoc responsum. Re mihi non aeque satisfacit, et quidem locis pluribus. Non igitur de improbo, sed de callido improbo quaerimus...</div>
							</div>
							<div class="meta">
								<span class="date">24 september 2014</span>
								<span class="activity">7 replies, 94 votes</span>
								<div class="users">
									<a href="#" title="Sandra Williams"><img src="../static/assets/placeholder/50-3.jpg" alt="" /></a>
									<a href="#" title="Daniel Thompson"><img src="../static/assets/placeholder/50-4.jpg" alt="" /></a>
									<a href="#" title="Mark Smith"><img src="../static/assets/placeholder/5.jpg" alt="" /></a>
									<a href="#" title="Dorothy D."><img src="../static/assets/placeholder/6.jpg" alt="" /></a>
								</div>
							</div>
						</div>
						
						<div class="request clearfix">
							<div class="user-avatar">
								<img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" />
							</div>
							<div class="details">
								<div class="title"><a href="#">Sequitur disserendi ratio cognitioque naturae</a></div>
								<div class="description">Ac tamen hic mallet non dolere. Sequitur disserendi ratio cognitioque naturae; Itaque hic ipse iam pridem est reiectus; Non enim solum Torquatus dixit quid sentiret, sed etiam...</div>
							</div>
							<div class="meta">
								<span class="date">30 september 2014</span>
								<span class="activity">7 replies, 145 votes</span>
								<div class="users">
									<a href="#" title="Daniel Thompson"><img src="../static/assets/placeholder/50-4.jpg" alt="" /></a>
									<a href="#" title="Dorothy D."><img src="../static/assets/placeholder/6.jpg" alt="" /></a>
								</div>
							</div>
						</div>
						
						<div class="request clearfix">
							<div class="user-avatar">
								<img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" />
							</div>
							<div class="details">
								<div class="title"><a href="#">Sequitur disserendi ratio cognitioque naturae</a></div>
								<div class="description">Ac tamen hic mallet non dolere. Sequitur disserendi ratio cognitioque naturae; Itaque hic ipse iam pridem est reiectus; Non enim solum Torquatus dixit quid sentiret, sed etiam...</div>
							</div>
							<div class="meta">
								<span class="date">30 september 2014</span>
								<span class="activity">1 reply, 5 votes</span>
								<div class="users">
									<a href="#" title="Dorothy D."><img src="../static/assets/placeholder/6.jpg" alt="" /></a>
								</div>
							</div>
						</div>
						
						<div class="request clearfix">
							<div class="user-avatar">
								<img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" />
							</div>
							<div class="details">
								<div class="title"><a href="#">Sequitur disserendi ratio cognitioque naturae</a></div>
								<div class="description">Ac tamen hic mallet non dolere. Sequitur disserendi ratio cognitioque...</div>
							</div>
							<div class="meta">
								<span class="date">30 september 2014</span>
								<span class="activity">0 replies, 145 votes</span>
							</div>
						</div>
						
						<div class="request clearfix">
							<div class="user-avatar">
								<img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" />
							</div>
							<div class="details">
								<div class="title"><a href="#">Non igitur de improbo, sed de callido improbo quaerimus</a></div>
								<div class="description">Immo istud quidem, inquam, quo loco quidque, nisi iniquum postulo, arbitratu meo. Satis est ad hoc responsum. Re mihi non aeque satisfacit, et quidem locis pluribus. Non igitur de improbo, sed de callido improbo quaerimus...</div>
							</div>
							<div class="meta">
								<span class="date">30 september 2014</span>
								<span class="activity">7 replies, 145 votes</span>
								<div class="users">
									<a href="#" title="Sandra Williams"><img src="../static/assets/placeholder/50-3.jpg" alt="" /></a>
									<a href="#" title="Daniel Thompson"><img src="../static/assets/placeholder/50-4.jpg" alt="" /></a>
									<a href="#" title="Dorothy D."><img src="../static/assets/placeholder/6.jpg" alt="" /></a>
								</div>
							</div>
						</div>
						
						<div class="request clearfix">
							<div class="user-avatar">
								<img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" />
							</div>
							<div class="details">
								<div class="title"><a href="#"><span class="request-mark mark green">Featured</span> Looking for a special asian salad recipe</a></div>
								<div class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</div>
							</div>
							<div class="meta">
								<span class="date">30 september 2014</span>
								<span class="activity">7 replies, 145 votes</span>
								<div class="users">
									<a href="#" title="Mark Smith"><img src="../static/assets/placeholder/5.jpg" alt="" /></a>
									<a href="#" title="Michelle Nelson"><img src="../static/assets/placeholder/50-1.jpg" alt="" /></a>
								</div>
							</div>
						</div>
						
						<div class="request clearfix">
							<div class="user-avatar">
								<img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" />
							</div>
							<div class="details">
								<div class="title"><a href="#">Sequitur disserendi ratio cognitioque naturae</a></div>
								<div class="description">Ac tamen hic mallet non dolere. Sequitur disserendi ratio cognitioque naturae; Itaque hic ipse iam pridem est reiectus; Non enim solum Torquatus dixit quid sentiret, sed etiam...</div>
								<div class="request-includes">
									<i class="request-icon fa fa-paperclip" title="Has attachments"></i>
									<i class="request-icon fa fa-link" title="Has included at least one link"></i>
								</div>
							</div>
							<div class="meta">
								<span class="date">30 september 2014</span>
								<span class="activity">7 replies, 145 votes</span>
								<div class="users">
									<a href="#" title="Daniel Thompson"><img src="../static/assets/placeholder/50-4.jpg" alt="" /></a>
									<a href="#" title="Dorothy D."><img src="../static/assets/placeholder/6.jpg" alt="" /></a>
								</div>
							</div>
						</div>
						
						<div class="request clearfix">
							<div class="user-avatar">
								<img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" />
							</div>
							<div class="details">
								<div class="title"><a href="#">Sequitur disserendi ratio cognitioque naturae</a></div>
								<div class="description">Ac tamen hic mallet non dolere. Sequitur disserendi ratio cognitioque...</div>
							</div>
							<div class="meta">
								<span class="date">30 september 2014</span>
								<span class="activity">0 replies, 5 votes</span>
							</div>
						</div>
						
						<div class="request clearfix">
							<div class="user-avatar">
								<img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" />
							</div>
							<div class="details">
								<div class="title"><a href="#">Sequitur disserendi ratio cognitioque naturae</a></div>
								<div class="description">Ac tamen hic mallet non dolere. Sequitur disserendi ratio cognitioque...</div>
							</div>
							<div class="meta">
								<span class="date">30 september 2014</span>
								<span class="activity">0 replies, 2 votes</span>
							</div>
						</div>
						
						<div class="request clearfix">
							<div class="user-avatar">
								<img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" />
							</div>
							<div class="details">
								<div class="title"><a href="#">Sequitur disserendi ratio cognitioque naturae</a></div>
								<div class="description">Ac tamen hic mallet non dolere. Sequitur disserendi ratio cognitioque naturae; Itaque hic ipse iam pridem est reiectus; Non enim solum Torquatus dixit quid sentiret, sed etiam...</div>
							</div>
							<div class="meta">
								<span class="date">30 september 2014</span>
								<span class="activity">1 reply, 6 votes</span>
								<div class="users">
									<a href="#" title="Sandra Williams"><img src="../static/assets/placeholder/50-3.jpg" alt="" /></a>
								</div>
							</div>
						</div>
						
						<div class="request clearfix">
							<div class="user-avatar">
								<img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" />
							</div>
							<div class="details">
								<div class="title"><a href="#">Sequitur disserendi ratio cognitioque naturae</a></div>
								<div class="description">Ac tamen hic mallet non dolere. Sequitur disserendi ratio cognitioque naturae; Itaque hic ipse iam pridem est reiectus; Non enim solum Torquatus dixit quid sentiret, sed etiam...</div>
							</div>
							<div class="meta">
								<span class="date">30 september 2014</span>
								<span class="activity">0 replies, 8 votes</span>
							</div>
						</div>


						<div class="requests-pagination button-block center">
							<span class="button small nobg primary current">1</span>
							<a class="button small nobg primary" href="#">2</a>
							<a class="button small nobg primary" href="#">Next &rarr;</a>
						</div>

						
					</div> <!-- .requests-module -->
				</div> <!-- .grid-container -->
			</div> <!-- .rw-row -->

		</div> <!-- .rw-content -->

	</div> <!-- .rw-inner -->
</div> <!-- .rw-container -->

<!--
// ===================================^__^=================================== //
   Footer
// ===================================^__^=================================== //
-->
<div class="rw-section rw-footer">
	<div class="rw-inner clearfix">
		<div class="grid-container">
			
			<div class="grid desk-6">
				<div class="footer-totals clearfix">
					
					<div class="total red clearfix">
						<a href="recipes.php">
							<span class="mark value">13472</span>
							<span class="type">Recipes</span>
						</a>
					</div>
					
					<div class="total green clearfix">
						<a href="members.php">
							<span class="mark value">5649</span>
							<span class="type">Members</span>
						</a>
					</div>

					<div class="total blue clearfix">
						<a href="public-collections.php">
							<span class="mark value">728</span>
							<span class="type">Collections</span>
						</a>
					</div>

				</div>
			</div>

			<div class="grid desk-6">
				<div class="footer-menu">
					<ul>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Copyright</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>

		</div>
		<a href="#rw-layout" class="footer-to-top" title="Go to top">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>
</div> <!-- .layout-footer -->

</section><!-- .rw-layout -->

<!-- Javascript -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="../static/assets/js/min/smk-menu.min.js"></script>
<script src="../static/assets/js/rw-sidebar.js"></script>
<script src="../static/assets/js/min/jquery.qtip.min.js"></script>
<script src="../static/assets/js/min/smk-accordion.min.js"></script>
<script src="../static/assets/js/min/smk-visual-select.min.js"></script>
<script src="../static/assets/js/min/owl.carousel.min.js"></script>
<script src="../static/assets/js/scripts.js"></script>
</body>
</html>