<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Page title</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Dosis">
	<link rel="stylesheet" href="../static/assets/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../static/assets/fonts/awards/awards.css" />
	<link rel="stylesheet" href="../static/assets/css/styles.css" />
	<!--[if lt IE 9]>
	    <script src="../static/assets/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
<section id="rw-layout" class="rw-layout">

<!--
// ===================================^__^=================================== //
   Header
// ===================================^__^=================================== //
-->
<div class="rw-section rw-header">
	<div class="rw-inner clearfix">
		<div class="grid-container">

			<div class="grid desk-8 mob-6 alpha clearfix">
				<div class="logo-holder">
					<img src="../static/assets/placeholder/logo.png" class="logo" alt="" />
				</div>
				<nav id="the-main-menu" class="main-menu-nav menu-inline" data-breakpoint="1160">
					<ul class="menu horizontal">
						<li><a href="index.html">Home</a></li>
						<li>
							<a href="recipes.html">Recipes</a>
							<ul class="sub-menu">
								<li><a href="single-recipe.html">Single recipe</a></li>
								<li><a href="submit-recipe.html">Submit recipe</a></li>
							</ul>
						</li>
						<li>
							<a href="blog.html">Blog</a>					
							<ul class="sub-menu">
								<li><a href="single-blog.html">Blog single</a></li>
							</ul>
						</li>			
						<li>
							<a href="recipe-tag-index.html">Index</a>
							<ul class="sub-menu">
								<li><a href="recipe-tag-index.html">Tags</a></li>
								<li><a href="recipe-ingredients.html">Ingredients</a></li>
							</ul>
						</li>
						<li><a href="forums.html">Forums</a></li>
						<li><a href="requests.html">Requests</a></li>
						<li>
							<a href="#">Pages</a>
							<ul class="sub-menu">
								<li><a href="members.html">Members</a></li>
								<li><a href="public-collections.html">Public collections</a></li>
								<li><a href="help-faq.html">Help: FAQ</a></li>
								<li><a href="help-ask-question.html">Help: Ask question</a></li>
								<li><a href="help-all-questions.html">Help: All questions</a></li>
								<li><a href="404.html">404 page</a></li>
								<li>
									<a href="#">Next sub menu</a>
									<ul class="sub-menu">
										<li><a href="#">Test this</a></li>
										<li><a href="#">Test this</a></li>
										<li><a href="#">Test this</a></li>
										<li>
											<a href="#">Menu2</a>
											<ul class="sub-menu">
												<li><a href="#">Test this</a></li>
												<li><a href="#">Test this</a></li>
												<li><a href="#">Test this</a></li>
												<li>
													<a href="#">Next sub menu3</a>
													<ul class="sub-menu">
														<li><a href="#">Test this</a></li>
														<li><a href="#">Test this</a></li>
														<li><a href="#">Test this</a></li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="page-sidebar-right.html">Page sidebar right</a></li>
								<li><a href="page-sidebar-left.html">Page sidebar left</a></li>
							</ul>
						</li>
						<li>
							<a href="elem-colors.html">More</a>
							<ul class="sub-menu">
								<li><a href="elem-colors.html">Colors</a></li>
								<li><a href="elem-buttons.html">Buttons</a></li>
								<li><a href="elem-typography.html">Typography</a></li>
								<li><a href="elem-form.html">Form</a></li>
								<li><a href="elem-accordion.html">Accordion</a></li>
								<li><a href="elem-grid.html">Grid system</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<div class="grid desk-4 mob-6 omega">
				<nav id="the-user-menu" class="main-menu-nav">
					<ul class="menu horizontal align-right">

						<!-- Notifications -->
						<li class="to-left-more">
							<a href="profile-notifications.html" class="menu-single-icon">
								<i class="fa fa-bell"></i>
							</a>
							<ul class="sub-menu user-notes">
								
								<li>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/3.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Jeff Mitchell</a> on <a href="#">Chicken Salad with...</a></div>
											<div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-comment-o type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/4.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Michelle Nelson</a> followed you</div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-check-square-o type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/5.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Steven Martinez</a> liked <a href="#">Spicy Rapid Roast Chicken</a></div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-thumbs-o-up type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/8.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Daniel Thompson</a> added to favorites <a href="#">Creamy Shrimp and Broccoli Fettuccine</a></div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-heart-o type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/19.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Maria Bello</a> added <a href="#">Chicken and Rice Casserole</a> to the collection <a href="#">Special recipes</a></div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-bookmark-o type"></i>
										</div>
									</div>
								</li>
								
								<li class="go-to-all"><a href="profile-notifications.html">View all notifications</a></li>
							</ul>
						</li>

						<!-- Messages -->
						<li class="to-left-more">
							<a href="profile-private-messages.html" class="menu-single-icon">
								<i class="fa fa-envelope"></i>
								<span class="new-info">2</span>
							</a>
							<ul class="sub-menu user-notes">
								<li>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/22.jpg" class="avatar" alt="" />
												<div class="username">Steven Martinez</div>
												<div class="message">"Hello, I need help regarding your recipe..."</div>
												<div class="date">5 minutes ago</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/21.jpg" class="avatar" alt="" />
												<div class="username">Michelle Nelson</div>
												<div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
												<div class="date">5 days ago</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/1.jpg" class="avatar" alt="" />
												<div class="username">Jeff Mitchell</div>
												<div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
												<div class="date">28 jan 2014</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/11.jpg" class="avatar" alt="" />
												<div class="username">Daniel Thompson</div>
												<div class="message">"Quis nostrud exercitation ullamco..."</div>
												<div class="date">28 jan 2014</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
								</li>
								
								<li class="go-to-all"><a href="profile-private-messages.html">View all messages</a></li>
							</ul>
						</li>

						<!-- Submission -->
						<li class="to-left-more">
							<a href="#" class="menu-single-icon"><i class="fa fa-plus"></i></a>
							<ul class="sub-menu">
								<li><a href="submit-recipe.html">Submit recipe</a></li>
								<li><a href="submit-request.html">Request a recipe</a></li>
								<li><a href="submit-forum-topic.html">New forums topic</a></li>
							</ul>
						</li>

						<!-- User menu -->
						<li class="to-left-more">
							<div class="user-details-in-menu">
								<a href="profile.html" class="avatar"><img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" /></a>
							</div>
							<ul class="sub-menu">
								<li><a href="profile.html">Public Profile</a></li>
								<li class="separator"><a href="profile-requests.html">Requests</a></li>
								<li><a href="profile-collections.html">Collections</a></li>
								<li><a href="profile-favorites.html">Favorites</a></li>
								<li class="separator"><a href="profile-likes.html">Likes</a></li>
								<li><a href="profile-reputation.html">Reputation</a></li>
								<li class="separator"><a href="profile-followers.html">Followers</a></li>
								<li><a href="profile-notifications.html">Notifications</a></li>
								<li><a href="profile-private-messages.html">Private Messages</a></li>
								<li class="separator"><a href="#">Settings</a></li>
								<li><a href="#">Sign Out</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</div> <!-- .grid-container -->
	</div> <!-- .rw-inner -->
</div> <!-- .rw-header -->

<!--
// ===================================^__^=================================== //
   Content
// ===================================^__^=================================== //
-->

<div class="rw-container rw-section">
	<div class="rw-inner clearfix">

		<!-- Main content -->
		<div class="rw-column rw-content">

			<div class="rw-row page-breadcrumb">
				<a href="#">Home</a> &raquo; <span>Sarah Gonzalez followers</span>
			</div>
			<div class="rw-row page-title">
				<div class="grid-container">
					<h1><a href="#">Sarah Gonzalez</a> followers</h1>
				</div>
				
			</div>

			<div class="rw-row subtle">
				<div class="grid-container">
					<div class="profile-followers">
						<div class="members-list profile-followers grid-container">
							
							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/1.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">David Anderson</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">368 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">8215</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">1150 followers</a>
									</div>
								</div>
							</div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/2.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Dorothy Perez</a>
											<span class="user-level mark purple">Expert</span>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">17 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">15926</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button active current green">
											<i class="fa fa-check"></i> <span class="text">Following</span>
										</a><br>
										<a href="#" class="followers-count">2008 followers</a>
									</div>
								</div>
							</div>
							<div class="clear"></div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/3.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Robert Hill</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">93 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">28708</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">469 followers</a>
									</div>
								</div>
							</div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/4.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Kimberly Anderson</a>
											<span class="user-level mark green">Pro</span>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">34 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">8820</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">4419 followers</a>
									</div>
								</div>
							</div>
							<div class="clear"></div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/5.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Jason Rodriguez</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">421 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">6261</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">2809 followers</a>
									</div>
								</div>
							</div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/6.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Jennifer Hill</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">428 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">21756</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">2756 followers</a>
									</div>
								</div>
							</div>
							<div class="clear"></div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/7.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Margaret Jackson</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">455 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">20276</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button active current green">
											<i class="fa fa-check"></i> <span class="text">Following</span>
										</a><br>
										<a href="#" class="followers-count">2431 followers</a>
									</div>
								</div>
							</div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/8.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">John Hill</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">367 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">26006</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button active current green">
											<i class="fa fa-check"></i> <span class="text">Following</span>
										</a><br>
										<a href="#" class="followers-count">1187 followers</a>
									</div>
								</div>
							</div>
							<div class="clear"></div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/9.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Joseph Perez</a>
											<span class="user-level mark orange">VIP</span>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">197 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">6964</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">2588 followers</a>
									</div>
								</div>
							</div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/10.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Anthony Phillips</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">454 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">21617</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">689 followers</a>
									</div>
								</div>
							</div>
							<div class="clear"></div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/11.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Helen Perez</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">464 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">10439</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">2581 followers</a>
									</div>
								</div>
							</div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/12.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Edward Lee</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">86 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">20963</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">4966 followers</a>
									</div>
								</div>
							</div>
							<div class="clear"></div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/13.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Sandra Taylor</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">28 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">20762</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">2211 followers</a>
									</div>
								</div>
							</div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/14.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">David King</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">341 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">4135</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">2351 followers</a>
									</div>
								</div>
							</div>
							<div class="clear"></div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/15.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">George Baker</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">74 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">1295</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">146 followers</a>
									</div>
								</div>
							</div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/16.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Kimberly Lewis</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">485 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">23454</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">2685 followers</a>
									</div>
								</div>
							</div>
							<div class="clear"></div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/17.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Brian Scott</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">398 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">27298</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button active current green">
											<i class="fa fa-check"></i> <span class="text">Following</span>
										</a><br>
										<a href="#" class="followers-count">1995 followers</a>
									</div>
								</div>
							</div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/18.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Donna Jones</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">436 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">19053</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">2980 followers</a>
									</div>
								</div>
							</div>
							<div class="clear"></div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/19.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Lisa Baker</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">142 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">18181</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">1695 followers</a>
									</div>
								</div>
							</div>

							<div class="grid desk-6">
								<div class="member clearfix">
									<div class="user-avatar">
										<a href="#"><img src="../static/assets/placeholder/people/80x80/20.jpg" alt="" /></a>
									</div>
									<div class="user-details grid desk-7 mob-6 alpha clearfix">
										<div class="title clearfix">
											<a href="#" class="name">Jennifer Lopez</a>
										</div>
										<div class="info">
											<div class="info-item"><a href="#">323 recipes</a> / Last visit: 5 minutes ago</div>
											<div class="info-item user-reputation">
												<span class="count">28047</span>
												<span class="text">points</span>
											</div>
										</div>
									</div>
									<div class="user-follow grid desk-5 mob-6 omega clearfix">
										<a href="#" class="follow-user button blue">
											<i class="fa fa-plus"></i> <span class="text">Follow</span>
										</a><br>
										<a href="#" class="followers-count">2913 followers</a>
									</div>
								</div>
							</div>
							<div class="clear"></div>


							<div class="members-pagination button-block center">
								<a class="button small nobg primary" href="#">&larr; Prev</a>
								<a class="button small nobg primary" href="#">...</a>
								<span class="button small nobg primary current">4</span>
								<a class="button small nobg primary" href="#">5</a>
								<a class="button small nobg primary" href="#">6</a>
								<a class="button small nobg primary" href="#">...</a>
								<a class="button small nobg primary" href="#">192</a>
								<a class="button small nobg primary" href="#">Next &rarr;</a>
							</div>


						</div> <!-- .members-list -->
					</div> <!-- .profile-followers -->
					<div class="clear"></div>
				</div> <!-- .grid-container -->
			</div> <!-- .rw-row -->

		</div> <!-- .rw-content -->

	</div> <!-- .rw-inner -->
</div> <!-- .rw-container -->

<!--
// ===================================^__^=================================== //
   Footer
// ===================================^__^=================================== //
-->
<div class="rw-section rw-footer">
	<div class="rw-inner clearfix">
		<div class="grid-container">
			
			<div class="grid desk-6">
				<div class="footer-totals clearfix">
					
					<div class="total red clearfix">
						<a href="recipes.php">
							<span class="mark value">13472</span>
							<span class="type">Recipes</span>
						</a>
					</div>
					
					<div class="total green clearfix">
						<a href="members.php">
							<span class="mark value">5649</span>
							<span class="type">Members</span>
						</a>
					</div>

					<div class="total blue clearfix">
						<a href="public-collections.php">
							<span class="mark value">728</span>
							<span class="type">Collections</span>
						</a>
					</div>

				</div>
			</div>

			<div class="grid desk-6">
				<div class="footer-menu">
					<ul>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Copyright</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>

		</div>
		<a href="#rw-layout" class="footer-to-top" title="Go to top">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>
</div> <!-- .layout-footer -->

</section><!-- .rw-layout -->

<!-- Javascript -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="../static/assets/js/min/smk-menu.min.js"></script>
<script src="../static/assets/js/rw-sidebar.js"></script>
<script src="../static/assets/js/min/jquery.qtip.min.js"></script>
<script src="../static/assets/js/min/smk-accordion.min.js"></script>
<script src="../static/assets/js/min/smk-visual-select.min.js"></script>
<script src="../static/assets/js/min/owl.carousel.min.js"></script>
<script src="../static/assets/js/scripts.js"></script>
</body>
</html>