<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Page title</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Dosis">
	<link rel="stylesheet" href="../static/assets/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../static/assets/fonts/awards/awards.css" />
	<link rel="stylesheet" href="../static/assets/css/styles.css" />
	<!--[if lt IE 9]>
	    <script src="../static/assets/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
<section id="rw-layout" class="rw-layout">

<!--
// ===================================^__^=================================== //
   Header
// ===================================^__^=================================== //
-->
<div class="rw-section rw-header">
	<div class="rw-inner clearfix">
		<div class="grid-container">

			<div class="grid desk-8 mob-6 alpha clearfix">
				<div class="logo-holder">
					<img src="../static/assets/placeholder/logo.png" class="logo" alt="" />
				</div>
				<nav id="the-main-menu" class="main-menu-nav menu-inline" data-breakpoint="1160">
					<ul class="menu horizontal">
						<li><a href="index.html">Home</a></li>
						<li>
							<a href="recipes.html">Recipes</a>
							<ul class="sub-menu">
								<li><a href="single-recipe.html">Single recipe</a></li>
								<li><a href="submit-recipe.html">Submit recipe</a></li>
							</ul>
						</li>
						<li>
							<a href="blog.html">Blog</a>					
							<ul class="sub-menu">
								<li><a href="single-blog.html">Blog single</a></li>
							</ul>
						</li>			
						<li>
							<a href="recipe-tag-index.html">Index</a>
							<ul class="sub-menu">
								<li><a href="recipe-tag-index.html">Tags</a></li>
								<li><a href="recipe-ingredients.html">Ingredients</a></li>
							</ul>
						</li>
						<li><a href="forums.html">Forums</a></li>
						<li><a href="requests.html">Requests</a></li>
						<li>
							<a href="#">Pages</a>
							<ul class="sub-menu">
								<li><a href="members.html">Members</a></li>
								<li><a href="public-collections.html">Public collections</a></li>
								<li><a href="help-faq.html">Help: FAQ</a></li>
								<li><a href="help-ask-question.html">Help: Ask question</a></li>
								<li><a href="help-all-questions.html">Help: All questions</a></li>
								<li><a href="404.html">404 page</a></li>
								<li>
									<a href="#">Next sub menu</a>
									<ul class="sub-menu">
										<li><a href="#">Test this</a></li>
										<li><a href="#">Test this</a></li>
										<li><a href="#">Test this</a></li>
										<li>
											<a href="#">Menu2</a>
											<ul class="sub-menu">
												<li><a href="#">Test this</a></li>
												<li><a href="#">Test this</a></li>
												<li><a href="#">Test this</a></li>
												<li>
													<a href="#">Next sub menu3</a>
													<ul class="sub-menu">
														<li><a href="#">Test this</a></li>
														<li><a href="#">Test this</a></li>
														<li><a href="#">Test this</a></li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="page-sidebar-right.html">Page sidebar right</a></li>
								<li><a href="page-sidebar-left.html">Page sidebar left</a></li>
							</ul>
						</li>
						<li>
							<a href="elem-colors.html">More</a>
							<ul class="sub-menu">
								<li><a href="elem-colors.html">Colors</a></li>
								<li><a href="elem-buttons.html">Buttons</a></li>
								<li><a href="elem-typography.html">Typography</a></li>
								<li><a href="elem-form.html">Form</a></li>
								<li><a href="elem-accordion.html">Accordion</a></li>
								<li><a href="elem-grid.html">Grid system</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<div class="grid desk-4 mob-6 omega">
				<nav id="the-user-menu" class="main-menu-nav">
					<ul class="menu horizontal align-right">

						<!-- Notifications -->
						<li class="to-left-more">
							<a href="profile-notifications.html" class="menu-single-icon">
								<i class="fa fa-bell"></i>
							</a>
							<ul class="sub-menu user-notes">
								
								<li>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/3.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Jeff Mitchell</a> on <a href="#">Chicken Salad with...</a></div>
											<div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-comment-o type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/4.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Michelle Nelson</a> followed you</div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-check-square-o type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/5.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Steven Martinez</a> liked <a href="#">Spicy Rapid Roast Chicken</a></div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-thumbs-o-up type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/8.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Daniel Thompson</a> added to favorites <a href="#">Creamy Shrimp and Broccoli Fettuccine</a></div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-heart-o type"></i>
										</div>
									</div>
									<div class="note">
										<div class="user-message">
											<img src="../static/assets/placeholder/people/50x50/19.jpg" class="avatar" alt="" />
											<div class="username"><a href="#">Maria Bello</a> added <a href="#">Chicken and Rice Casserole</a> to the collection <a href="#">Special recipes</a></div>
											<div class="date">28 jan 2014</div>
											<i class="fa fa-bookmark-o type"></i>
										</div>
									</div>
								</li>
								
								<li class="go-to-all"><a href="profile-notifications.html">View all notifications</a></li>
							</ul>
						</li>

						<!-- Messages -->
						<li class="to-left-more">
							<a href="profile-private-messages.html" class="menu-single-icon">
								<i class="fa fa-envelope"></i>
								<span class="new-info">2</span>
							</a>
							<ul class="sub-menu user-notes">
								<li>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/22.jpg" class="avatar" alt="" />
												<div class="username">Steven Martinez</div>
												<div class="message">"Hello, I need help regarding your recipe..."</div>
												<div class="date">5 minutes ago</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/21.jpg" class="avatar" alt="" />
												<div class="username">Michelle Nelson</div>
												<div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
												<div class="date">5 days ago</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/1.jpg" class="avatar" alt="" />
												<div class="username">Jeff Mitchell</div>
												<div class="message">"Elit, sed do eiusmod tempor incididunt..."</div>
												<div class="date">28 jan 2014</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
									<div class="note">
										<a href="#">
											<div class="user-message">
												<img src="../static/assets/placeholder/people/50x50/11.jpg" class="avatar" alt="" />
												<div class="username">Daniel Thompson</div>
												<div class="message">"Quis nostrud exercitation ullamco..."</div>
												<div class="date">28 jan 2014</div>
												<i class="fa fa-envelope-o type"></i>
											</div>
										</a>
									</div>
								</li>
								
								<li class="go-to-all"><a href="profile-private-messages.html">View all messages</a></li>
							</ul>
						</li>

						<!-- Submission -->
						<li class="to-left-more">
							<a href="#" class="menu-single-icon"><i class="fa fa-plus"></i></a>
							<ul class="sub-menu">
								<li><a href="submit-recipe.html">Submit recipe</a></li>
								<li><a href="submit-request.html">Request a recipe</a></li>
								<li><a href="submit-forum-topic.html">New forums topic</a></li>
							</ul>
						</li>

						<!-- User menu -->
						<li class="to-left-more">
							<div class="user-details-in-menu">
								<a href="profile.html" class="avatar"><img src="../static/assets/placeholder/people/50x50/2.jpg" alt="" /></a>
							</div>
							<ul class="sub-menu">
								<li><a href="profile.html">Public Profile</a></li>
								<li class="separator"><a href="profile-requests.html">Requests</a></li>
								<li><a href="profile-collections.html">Collections</a></li>
								<li><a href="profile-favorites.html">Favorites</a></li>
								<li class="separator"><a href="profile-likes.html">Likes</a></li>
								<li><a href="profile-reputation.html">Reputation</a></li>
								<li class="separator"><a href="profile-followers.html">Followers</a></li>
								<li><a href="profile-notifications.html">Notifications</a></li>
								<li><a href="profile-private-messages.html">Private Messages</a></li>
								<li class="separator"><a href="#">Settings</a></li>
								<li><a href="#">Sign Out</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>

		</div> <!-- .grid-container -->
	</div> <!-- .rw-inner -->
</div> <!-- .rw-header -->

<!--
// ===================================^__^=================================== //
   Content
// ===================================^__^=================================== //
-->

<div class="rw-container rw-section">
	<div class="rw-inner clearfix">

		<!-- Main content -->
		<div class="rw-column rw-content">

			<div class="rw-row page-breadcrumb">
				<a href="#">Home</a> &raquo; <span>Public collections</span>
			</div>
			<div class="rw-row page-title">
				<div class="grid-container">
					<h1>Public collections</h1>
				</div>
			</div>

			<div class="rw-row subtle">
				<div class="grid-container">
					<div class="profile-collections-list">
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Salad recipes</a>
									<span class="mark gray nr-of-items">72 items</span>
								</div>
								<div class="info">
									<span class="info-item">1361 views</span>
									<span class="info-item">176 likes</span>
									<span class="info-item">15 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
								<div class="photo">
									<a href="#" title="Exprobrationcm regalia atticas vincit accelerare suspicio"><img src="../static/assets/placeholder/food/80x80/12.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Inncem tantum septima ossibus deliciae"><img src="../static/assets/placeholder/food/80x80/15.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Superbam praecustodio gualitatibus glaebam"><img src="../static/assets/placeholder/food/80x80/4.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Eminentiam destitutus firmare navigabile"><img src="../static/assets/placeholder/food/80x80/9.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Possessores hibernorum liber apparct"><img src="../static/assets/placeholder/food/80x80/7.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Legitima titulo massam mentis laedis"><img src="../static/assets/placeholder/food/80x80/5.jpg" ></a>
								</div>
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Special for summer</a>
									<span class="mark gray nr-of-items">4 items</span>
								</div>
								<div class="info">
									<span class="info-item">724 views</span>
									<span class="info-item">11 likes</span>
									<span class="info-item">2 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
								<div class="photo">
									<a href="#" title="Soluni regalia atticas vincit accelerare"><img src="../static/assets/placeholder/food/80x80/2.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Suspicio inncem tantum septima ossibus deliciae"><img src="../static/assets/placeholder/food/80x80/4.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Superbam praecustodio gualitatibus glaebam eminentiam"><img src="../static/assets/placeholder/food/80x80/14.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Destitutus firmare navigabile possessores hibernorum liber"><img src="../static/assets/placeholder/food/80x80/19.jpg" ></a>
								</div>
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Delicious chicken</a>
									<span class="mark gray nr-of-items">28 items</span>
								</div>
								<div class="info">
									<span class="info-item">2973 views</span>
									<span class="info-item">685 likes</span>
									<span class="info-item">342 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
								<div class="photo">
									<a href="#" title="Apparct legitima titulo massam"><img src="../static/assets/placeholder/food/80x80/3.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Mentis laedis soluni"><img src="../static/assets/placeholder/food/80x80/10.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Regalia atticas"><img src="../static/assets/placeholder/food/80x80/12.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Vincit accelerare suspicio inncem tantum septima"><img src="../static/assets/placeholder/food/80x80/18.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Ossibus deliciae"><img src="../static/assets/placeholder/food/80x80/1.jpg" ></a>
								</div>
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>

						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Malevolorum mentis</a>
									<span class="mark gray nr-of-items">966 items</span>
								</div>
								<div class="info">
									<span class="info-item">135 views</span>
									<span class="info-item">438 likes</span>
									<span class="info-item">500 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
														
								<div class="photo">
									<a href="#" title="Laedis soluni regalia atticas vincit"><img src="../static/assets/placeholder/food/80x80/12.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Absolutum suspicio"><img src="../static/assets/placeholder/food/80x80/15.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Fervore tantum septima ossibus"><img src="../static/assets/placeholder/food/80x80/13.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Proprium superbam praecustodio"><img src="../static/assets/placeholder/food/80x80/20.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Assecuratione glaebam eminentiam destitutus firmare"><img src="../static/assets/placeholder/food/80x80/7.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Formastis possessores hibernorum liber apparct"><img src="../static/assets/placeholder/food/80x80/10.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Iudices titulo</a>
									<span class="mark gray nr-of-items">411 items</span>
								</div>
								<div class="info">
									<span class="info-item">687 views</span>
									<span class="info-item">755 likes</span>
									<span class="info-item">957 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Massam mentis laedis soluni regalia"><img src="../static/assets/placeholder/food/80x80/14.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Clari vincit accelerare suspicio"><img src="../static/assets/placeholder/food/80x80/15.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Fervore tantum septima"><img src="../static/assets/placeholder/food/80x80/1.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Confessionem deliciae</a>
									<span class="mark gray nr-of-items">941 items</span>
								</div>
								<div class="info">
									<span class="info-item">792 views</span>
									<span class="info-item">368 likes</span>
									<span class="info-item">546 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Superbam praecustodio"><img src="../static/assets/placeholder/food/80x80/20.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Assecuratione glaebam"><img src="../static/assets/placeholder/food/80x80/18.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Dominationem destitutus firmare"><img src="../static/assets/placeholder/food/80x80/7.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Formastis possessores hibernorum liber"><img src="../static/assets/placeholder/food/80x80/6.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Prosunt legitima"><img src="../static/assets/placeholder/food/80x80/12.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Destinatum massam</a>
									<span class="mark gray nr-of-items">210 items</span>
								</div>
								<div class="info">
									<span class="info-item">833 views</span>
									<span class="info-item">424 likes</span>
									<span class="info-item">405 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Mentis laedis soluni"><img src="../static/assets/placeholder/food/80x80/11.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Blandientis atticas vincit"><img src="../static/assets/placeholder/food/80x80/12.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Absolutum suspicio"><img src="../static/assets/placeholder/food/80x80/15.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Fervore tantum septima ossibus"><img src="../static/assets/placeholder/food/80x80/13.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Proprium superbam</a>
									<span class="mark gray nr-of-items">771 items</span>
								</div>
								<div class="info">
									<span class="info-item">339 views</span>
									<span class="info-item">969 likes</span>
									<span class="info-item">747 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Praecustodio gualitatibus glaebam"><img src="../static/assets/placeholder/food/80x80/18.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Dominationem destitutus firmare navigabile possessores"><img src="../static/assets/placeholder/food/80x80/13.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Hectorem liber apparct legitima titulo"><img src="../static/assets/placeholder/food/80x80/14.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Malevolorum mentis laedis"><img src="../static/assets/placeholder/food/80x80/5.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Proponit regalia atticas vincit"><img src="../static/assets/placeholder/food/80x80/12.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Absolutum suspicio inncem tantum"><img src="../static/assets/placeholder/food/80x80/10.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Sentiunt ossibus</a>
									<span class="mark gray nr-of-items">733 items</span>
								</div>
								<div class="info">
									<span class="info-item">81 views</span>
									<span class="info-item">586 likes</span>
									<span class="info-item">579 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Deliciae superbam"><img src="../static/assets/placeholder/food/80x80/7.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Multas gualitatibus glaebam eminentiam"><img src="../static/assets/placeholder/food/80x80/16.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Victoris firmare navigabile possessores"><img src="../static/assets/placeholder/food/80x80/13.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Hectorem liber</a>
									<span class="mark gray nr-of-items">287 items</span>
								</div>
								<div class="info">
									<span class="info-item">384 views</span>
									<span class="info-item">924 likes</span>
									<span class="info-item">407 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Apparct legitima titulo massam"><img src="../static/assets/placeholder/food/80x80/12.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Barbarus laedis soluni regalia atticas"><img src="../static/assets/placeholder/food/80x80/13.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Pygmaeus accelerare suspicio inncem"><img src="../static/assets/placeholder/food/80x80/11.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Ordinario septima ossibus deliciae superbam"><img src="../static/assets/placeholder/food/80x80/7.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Multas gualitatibus glaebam eminentiam"><img src="../static/assets/placeholder/food/80x80/16.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Victoris firmare</a>
									<span class="mark gray nr-of-items">324 items</span>
								</div>
								<div class="info">
									<span class="info-item">340 views</span>
									<span class="info-item">422 likes</span>
									<span class="info-item">815 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Navigabile possessores hibernorum liber"><img src="../static/assets/placeholder/food/80x80/6.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Prosunt legitima titulo massam"><img src="../static/assets/placeholder/food/80x80/12.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Barbarus laedis soluni regalia"><img src="../static/assets/placeholder/food/80x80/14.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Clari vincit</a>
									<span class="mark gray nr-of-items">584 items</span>
								</div>
								<div class="info">
									<span class="info-item">37 views</span>
									<span class="info-item">316 likes</span>
									<span class="info-item">982 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Accelerare suspicio inncem"><img src="../static/assets/placeholder/food/80x80/11.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Ordinario septima"><img src="../static/assets/placeholder/food/80x80/1.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Confessionem deliciae superbam praecustodio gualitatibus"><img src="../static/assets/placeholder/food/80x80/18.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Statum eminentiam destitutus"><img src="../static/assets/placeholder/food/80x80/4.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Facultates navigabile</a>
									<span class="mark gray nr-of-items">550 items</span>
								</div>
								<div class="info">
									<span class="info-item">172 views</span>
									<span class="info-item">412 likes</span>
									<span class="info-item">107 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Possessores hibernorum liber"><img src="../static/assets/placeholder/food/80x80/6.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Prosunt legitima titulo"><img src="../static/assets/placeholder/food/80x80/14.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Malevolorum mentis"><img src="../static/assets/placeholder/food/80x80/17.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Tritum soluni"><img src="../static/assets/placeholder/food/80x80/11.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Blandientis atticas</a>
									<span class="mark gray nr-of-items">83 items</span>
								</div>
								<div class="info">
									<span class="info-item">324 views</span>
									<span class="info-item">183 likes</span>
									<span class="info-item">568 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Vincit accelerare suspicio"><img src="../static/assets/placeholder/food/80x80/15.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Fervore tantum"><img src="../static/assets/placeholder/food/80x80/10.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Sentiunt ossibus"><img src="../static/assets/placeholder/food/80x80/13.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Proprium superbam"><img src="../static/assets/placeholder/food/80x80/7.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Multas gualitatibus</a>
									<span class="mark gray nr-of-items">117 items</span>
								</div>
								<div class="info">
									<span class="info-item">391 views</span>
									<span class="info-item">506 likes</span>
									<span class="info-item">365 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Glaebam eminentiam"><img src="../static/assets/placeholder/food/80x80/16.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Victoris firmare navigabile possessores hibernorum"><img src="../static/assets/placeholder/food/80x80/3.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Consectetuer apparct legitima titulo massam"><img src="../static/assets/placeholder/food/80x80/12.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Barbarus laedis"><img src="../static/assets/placeholder/food/80x80/5.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Proponit regalia</a>
									<span class="mark gray nr-of-items">925 items</span>
								</div>
								<div class="info">
									<span class="info-item">599 views</span>
									<span class="info-item">591 likes</span>
									<span class="info-item">918 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Atticas vincit accelerare suspicio"><img src="../static/assets/placeholder/food/80x80/15.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Fervore tantum septima ossibus deliciae"><img src="../static/assets/placeholder/food/80x80/9.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Orbare praecustodio gualitatibus glaebam eminentiam"><img src="../static/assets/placeholder/food/80x80/16.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Victoris firmare navigabile possessores"><img src="../static/assets/placeholder/food/80x80/13.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Hectorem liber"><img src="../static/assets/placeholder/food/80x80/6.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Prosunt legitima</a>
									<span class="mark gray nr-of-items">431 items</span>
								</div>
								<div class="info">
									<span class="info-item">855 views</span>
									<span class="info-item">796 likes</span>
									<span class="info-item">812 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Titulo massam mentis laedis"><img src="../static/assets/placeholder/food/80x80/5.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Proponit regalia atticas vincit accelerare"><img src="../static/assets/placeholder/food/80x80/20.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Supplices inncem tantum septima ossibus"><img src="../static/assets/placeholder/food/80x80/13.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Proprium superbam praecustodio gualitatibus glaebam"><img src="../static/assets/placeholder/food/80x80/18.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Dominationem destitutus"><img src="../static/assets/placeholder/food/80x80/4.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Facultates navigabile</a>
									<span class="mark gray nr-of-items">104 items</span>
								</div>
								<div class="info">
									<span class="info-item">622 views</span>
									<span class="info-item">181 likes</span>
									<span class="info-item">510 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Possessores hibernorum liber apparct"><img src="../static/assets/placeholder/food/80x80/10.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Iudices titulo massam"><img src="../static/assets/placeholder/food/80x80/12.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Barbarus laedis soluni regalia"><img src="../static/assets/placeholder/food/80x80/14.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Clari vincit accelerare suspicio"><img src="../static/assets/placeholder/food/80x80/15.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Fervore tantum"><img src="../static/assets/placeholder/food/80x80/10.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Sentiunt ossibus</a>
									<span class="mark gray nr-of-items">706 items</span>
								</div>
								<div class="info">
									<span class="info-item">101 views</span>
									<span class="info-item">202 likes</span>
									<span class="info-item">805 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Deliciae superbam"><img src="../static/assets/placeholder/food/80x80/7.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Multas gualitatibus"><img src="../static/assets/placeholder/food/80x80/18.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Statum eminentiam destitutus firmare navigabile"><img src="../static/assets/placeholder/food/80x80/20.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Necessitate hibernorum liber apparct legitima"><img src="../static/assets/placeholder/food/80x80/12.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="collection clearfix">
							<div class="grid desk-4">
								<div class="clearfix">
									<a href="#" class="title">Destinatum massam</a>
									<span class="mark gray nr-of-items">793 items</span>
								</div>
								<div class="info">
									<span class="info-item">594 views</span>
									<span class="info-item">350 likes</span>
									<span class="info-item">31 comments</span>
								</div>
								<div>
									<a href="#" class="button hover-primary small">See all</a>
								</div>
							</div>
							<div class="grid desk-8">
							
								<div class="photo">
									<a href="#" title="Mentis laedis soluni regalia atticas"><img src="../static/assets/placeholder/food/80x80/13.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Pygmaeus accelerare suspicio inncem"><img src="../static/assets/placeholder/food/80x80/11.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Ordinario septima ossibus"><img src="../static/assets/placeholder/food/80x80/13.jpg" ></a>
								</div>
								<div class="photo">
									<a href="#" title="Proprium superbam praecustodio gualitatibus glaebam"><img src="../static/assets/placeholder/food/80x80/18.jpg" ></a>
								</div>
							
							</div>
						</div> <!-- .collection -->
						<div class="clear"></div>
						
						<div class="recipes-pagination button-block center">
							<a class="button small nobg primary" href="#">&larr; Prev</a>
							<a class="button small nobg primary" href="#">...</a>
							<span class="button small nobg primary current">4</span>
							<a class="button small nobg primary" href="#">5</a>
							<a class="button small nobg primary" href="#">6</a>
							<a class="button small nobg primary" href="#">...</a>
							<a class="button small nobg primary" href="#">192</a>
							<a class="button small nobg primary" href="#">Next &rarr;</a>
						</div>

								
					</div> <!-- .profile-collections-list -->
					<div class="clear"></div>

				</div> <!-- .grid-container -->
			</div> <!-- .rw-row -->

		</div> <!-- .rw-content -->

	</div> <!-- .rw-inner -->
</div> <!-- .rw-container -->

<!--
// ===================================^__^=================================== //
   Footer
// ===================================^__^=================================== //
-->
<div class="rw-section rw-footer">
	<div class="rw-inner clearfix">
		<div class="grid-container">
			
			<div class="grid desk-6">
				<div class="footer-totals clearfix">
					
					<div class="total red clearfix">
						<a href="recipes.php">
							<span class="mark value">13472</span>
							<span class="type">Recipes</span>
						</a>
					</div>
					
					<div class="total green clearfix">
						<a href="members.php">
							<span class="mark value">5649</span>
							<span class="type">Members</span>
						</a>
					</div>

					<div class="total blue clearfix">
						<a href="public-collections.php">
							<span class="mark value">728</span>
							<span class="type">Collections</span>
						</a>
					</div>

				</div>
			</div>

			<div class="grid desk-6">
				<div class="footer-menu">
					<ul>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Copyright</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>

		</div>
		<a href="#rw-layout" class="footer-to-top" title="Go to top">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>
</div> <!-- .layout-footer -->

</section><!-- .rw-layout -->

<!-- Javascript -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="../static/assets/js/min/smk-menu.min.js"></script>
<script src="../static/assets/js/rw-sidebar.js"></script>
<script src="../static/assets/js/min/jquery.qtip.min.js"></script>
<script src="../static/assets/js/min/smk-accordion.min.js"></script>
<script src="../static/assets/js/min/smk-visual-select.min.js"></script>
<script src="../static/assets/js/min/owl.carousel.min.js"></script>
<script src="../static/assets/js/scripts.js"></script>
</body>
</html>