<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page title</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Dosis">
    <link rel="stylesheet" href="../static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/awards/awards.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css">

    <link rel="stylesheet" href="../static/assets/css/bootstrap-tokenfield.css">
    <link rel="stylesheet" href="../static/assets/css/tokenfield-typeahead.css">
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/bootstrap.css">
    <!--[if lt IE 9]>
	    <script src="../static/assets/js/html5shiv.js"></script>
	<![endif]-->


</head>
<body>
<header>
    <br><br><br><br><br><br><br><br><br><br>
</header>
<script type="text/javascript">
    var currentValue = 0;
    function check(input){
        console.log('Old value: ' + currentValue);
        console.log('New value: ' + input.value);
        window.document.getElementById("tokenfield-typeahead").value = window.document.getElementById("tokenfield-typeahead").value + ", " + input.value;

        var d = window.document.getElementById("tokenfield-typeahead").value;
        console.log(d);
        currentValue = input.value;
    }
</script>
<main role="main">
    <div class="container">
        <div class="btn-group btn-group-toggle" >
            <label class="btn btn-secondary ">
                <input type="radio" name="options" id="option1" autocomplete="off" onclick="check(this);" value="1" > 먹고싶은 음식이 있다.
            </label>
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option2" autocomplete="off" onclick="check(this);"  value="2" checked> 먹고싶은 음식이 없다.
            </label>
        </div>
        <form class="form-inline" method="post" action="{{ url_for('query') }}">
            <div class="form-group">
                <input type="text" class="form-control" id="tokenfield-typeahead" style="width:600px" name="search"/>
                <button class="btn btn-default" id="sear" type="submit">검색</button>
            </div>
        </form>
    </div>
</main>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

{#<script src="../static/assets/js/bootstrap-tokenfield.js"></script>#}

<script>

    var engine = new Bloodhound({
        local: [{value: '후천성면역결핍증식'},
            {value: '후두암식'},
            {value: '화상식'},
            {value: '협심증식'},
            {value: '허혈성심장질환식'},
            {value: '프라더 윌리 증후군식'},
            {value: '폐렴식'},
            {value: '폐경기 및 여성의 갱년기'},
            {value: '페닐케톤뇨증, PKU'},
            {value: '패혈증식'},
            {value: '크론병식'},
            {value: '콜레라식'},
            {value: '췌장암식'},
            {value: '지방간식'},
            {value: '제대혈조혈모세포식'},
            {value: '전이성간암식'},
            {value: '전립암식'},
            {value: '저혈압식'},
            {value: '저혈당증식'},
            {value: '저칼륨식'},
            {value: '저마그네슘혈증식'},
            {value: '저나트륨혈증식'},
            {value: '장폐색식, 또는 장유착식'},
            {value: '자궁내 성장지연식'},
            {value: '자궁경부암식'},
            {value: '임신성고혈압식'},
            {value: '임신성 당뇨식'},
            {value: '유방암식'},
            {value: '윌슨병식'},
            {value: '위암식'},
            {value: '위식도역류질환식'},
            {value: '위궤양식'},
            {value: '열량조절식'},
            {value: '알콜성간질환식'},
            {value: '십이지장궤양식'},
            {value: '심근경색식'},
            {value: '신증후군식'},
            {value: '식중독식'},
            {value: '식도정맥류식'},
            {value: '식도염식'},
            {value: '식도암식'},
            {value: '셀리악병식'},
            {value: '섭식장애식'},
            {value: '사구체신염식'},
            {value: '빈혈식'},
            {value: '복막염식'},
            {value: '변비식'},
            {value: '바이러스성 간염식'},
            {value: '말기신질환식'},
            {value: '만성신부전식'},
            {value: '만성담낭염식'},
            {value: '만성 췌장염식'},
            {value: '덤핑증후군식'},
            {value: '만성신부전식'},
            {value: '말기신질환식'},
            {value: '대장암식'},
            {value: '대사증후군식'},
            {value: '당원병식/당원축적병식'},
            {value: '당뇨병식'},
            {value: '담낭암식'},
            {value: '단장증후군식'},
            {value: '급성췌장염식'},
            {value: '급성신부전식'},
            {value: '구루병식'},
            {value: '골다공증식'},
            {value: '고혈압식 / 폐성 고혈압식'},
            {value: '고지혈증식'},
            {value: '갑상선암식'},
            {value: '갑상선기능항진증'},
            {value: '갑상선기능저하증'},
            {value: '간이식후식'},
            {value: '간성혼수식'},
            {value: '간경화식'},
            {value: '각기병식'}],
        datumTokenizer: function (d) {
            return Bloodhound.tokenizers.whitespace(d.value);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace
    });

    engine.initialize();

    $('#tokenfield-typeahead').tokenfield({
        typeahead: [null, {source: engine.ttAdapter()}]
    });
</script>
<!-- Javascript -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="../static/assets/js/min/smk-menu.min.js"></script>
<script src="../static/assets/js/rw-sidebar.js"></script>
<script src="../static/assets/js/min/jquery.qtip.min.js"></script>
<script src="../static/assets/js/min/smk-accordion.min.js"></script>
<script src="../static/assets/js/min/smk-visual-select.min.js"></script>
<script src="../static/assets/js/min/owl.carousel.min.js"></script>
<script src="../static/assets/js/scripts.js"></script>

<script type="text/javascript" src="../static/assets/js/bootstrap-tokenfield.js" charset="UTF-8"></script>
<script type="text/javascript" src="../static/assets/js/scrollspy.js" charset="UTF-8"></script>
<script type="text/javascript" src="../static/assets/js/affix.js" charset="UTF-8"></script>
<script type="text/javascript" src="../static/assets/js/typeahead.bundle.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="../static/assets/js/docs.js" charset="UTF-8"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script src="../static/assets/js/index.js"></script>

</body>
</html>
