<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page title</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Dosis">
    <link rel="stylesheet" href="../static/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../static/assets/fonts/awards/awards.css"/>
    <link rel="stylesheet" href="../static/assets/css/styles.css"/>
    <link rel="stylesheet" href="../static/assets/css/bootstrap.css"/>
        <link rel="icon" href="../static/assets/images/patterns/food.png">

    <!--[if lt IE 9]>
	    <script src="../static/assets/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
<section id="rw-layout" class="rw-layout">

    <!--
    // ===================================^__^=================================== //
       Header
    // ===================================^__^=================================== //
    -->
    <div class="rw-section rw-header">
        <div class="rw-inner clearfix">
            <div class="grid-container">

                <div class="grid desk-8 mob-6 alpha clearfix">
                    {#                    <div class="logo-holder">#}
                    {#                        <img src="../static/assets/placeholder/logo.png" class="logo" alt=""/>#}
                    {#                    </div>#}
                    <nav id="the-main-menu" class="main-menu-nav menu-inline" data-breakpoint="1160">
                        <ul class="menu horizontal">
                            <li><a href="/">Home</a></li>
                            <li>
                                <a href="recipes.html">Recipes</a>
                                <ul class="sub-menu">
                                    <li><a href="single-recipe.html">Single recipe</a></li>
                                    <li><a href="submit-recipe.html">Submit recipe</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="elem-colors.html">More</a>
                                <ul class="sub-menu">
                                    <li><a href="elem-colors.html">Colors</a></li>
                                    <li><a href="elem-buttons.html">Buttons</a></li>
                                    <li><a href="elem-typography.html">Typography</a></li>
                                    <li><a href="elem-form.html">Form</a></li>
                                    <li><a href="elem-accordion.html">Accordion</a></li>
                                    <li><a href="elem-grid.html">Grid system</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>


            </div> <!-- .grid-container -->

        </div> <!-- .rw-inner -->
    </div> <!-- .rw-header -->

    <!--
    // ===================================^__^=================================== //
       Content
    // ===================================^__^=================================== //
    -->

    <div class="rw-section rw-container">
        <div class="rw-inner clearfix">

            <!-- TODO 메뉴 레시피 출력 -->

            <!-- Main content -->
            <div class="rw-column rw-content">

                <div class="rw-row page-breadcrumb">
                    <a href="#">Home</a> &raquo; <a href="#">Recipes</a> &raquo; <span>{{ menu }}</span>
                </div>
                <div class="rw-row page-title">
                    <h1>{{ menu }}</h1>
                </div>

                <div class="rw-row">

                    <!--
                    // ===================================^__^=================================== //
                       Entry first
                    // ===================================^__^=================================== //
                    -->
                    <div class="entry style-columns">
                        <div class="entry-photo single-recipe-photo-cover">
                            <div style="text-align : center">
                                <img src="{{ img }}" alt="메뉴 사진" style="display:inline-block"> <!-- 이미지 -->
                            </div>
                            <div class="recipe-tools">
                                <div class="tool like" title="Like (686)"><i class="the-icon fa fa-thumbs-o-up"></i>
                                </div>
                                <div class="tool favorite active" title="Add to favorites (320)"><i
                                        class="the-icon fa fa-heart-o"></i></div>
                                <div class="tool collection" title="Add to collection (47)"><i
                                        class="the-icon fa fa-bookmark-o"></i></div>
                                <div class="tool print" title="Print (108)"><i class="the-icon fa fa-print"></i></div>
                                <div class="tool share" title="Share (210)"><i class="the-icon fa fa-share-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="entry-content clearfix">

                            <div class="recipe-content" style="width:100%">

                                <div class="single-recipe-ingredients">
                                    <h3 class="recipe-headlines ingredients first">Ingredients:</h3>
                                    <ul>

                                        {% for data in ingredient %}
                                            {% for k,v in data.items() %}
                                                <li>
                                                    <div class="mark-as-ok"><i class="fa fa-check"></i></div>
                                                    <div class="ingredient"><a href="#">{{ k }}</a></div>
                                                    <div class="quantity">
                                                        <div class="qt">{{ v }}</div>
{#                                                        <div class="qt-notes">{{ data }}</div>#}
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        {% endfor %}

                                    </ul>
                                </div>

                                <h3 class="recipe-headlines preparation-mode">Preparation mode:</h3>
                                {% for i in description %}
                                    <p><strong>{{ loop.index }})</strong>
                                        {{ i }}

                                        {#                                    <em>labore et dolore magna ex est aliqua</em>.#}
                                        {#                                    <del>nostrud</del>#}

                                    </p>
                                {% endfor %}

                                {##}
                                {#                                <h3 class="recipe-headlines footnotes">Footnotes:</h3>#}
                                {#                                <p>Curabitur massa tortor, euismod accumsan dui eu, interdum interdum sapien. Aenean sed#}
                                {#                                    dui lorem. Nullam quis hendrerit sem, nec mollis augue. Aenean dictum pulvinar#}
                                {#                                    lectus, eu vulputate leo ultricies quis. Morbi quis est lacinia, adipiscing enim ac,#}
                                {#                                    semper magna.</p>#}
                            </div>


                        </div> <!-- .entry-content -->
                        <div class="clear"></div>

                    </div> <!-- .entry -->
                    <div class="clear"></div>


                </div> <!-- .rw-row -->


                <div class="rw-row subtle">

                    <div class="grid-container carousel-container">

                        <div class="grid desk-6">
                            <h2 class="carousel-posts-heading">Related:</h2>
                        </div>
                        <div class="grid desk-6">
                            <div class="carousel-posts-nav clearfix">
                                <div class="carousel-posts-nav-next"><i class="fa fa-chevron-right"></i></div>
                                <div class="carousel-posts-nav-prev"><i class="fa fa-chevron-left"></i></div>
                            </div>
                        </div>
                        <div class="clear"></div>


                        <!-- TODO 음식 연관 추천 여기다-->
                        <div class="carousel-posts clearfix">
                            <!-- 메뉴를 이안에 추가하면 리스트에 추가된다. -->
                            <!-- Entry -->
                            {% for item in result %}
                                <div class="entry style-columns">
                                    {% for menu_name in item %}

                                        <div class="entry-photo">
                                            <img src="{{ data[menu_name]['img'] }}" style="width:240px; height:180px;">
                                        </div>
                                        <div class="entry-title"> <!-- 메뉴 이름  // 나머지는 삭제하거나 일단 수정 생략 -->
                                            <a href="/recipe?value={{ menu_name }}">{{ menu_name }}</a>
                                        </div>
{#                                        <div class="entry-content">#}
{#                                            <br><br>#}
{#                                        </div>#}
                                        <div class="row entry-content" style="margin-right: 5px">
                                            <div class="col-4 mb-2 bg-success text-white">권장률
                                                ({{ '%0.2f' % (item[menu_name]['권장률'] * 100) |float }}%)
                                            </div>
                                            <div class="col-4  mb-2 bg-danger text-white">위험률
                                                ({{ '%0.2f' % (item[menu_name]['위험률'] * 100) |float }}%)
                                            </div>
                                            <div class="col-4  mb-2 bg-primary text-white" style="font-size: 14px">
                                                추천지수 ({{ '%0.2f' % (item[menu_name]['추천지수'] * 100) |float }}%)
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div> <!-- .entry -->
                            {% endfor %}
                        </div> <!-- .carousel-posts -->

                    </div>

                </div> <!-- .rw-row -->


            </div> <!-- .rw-content -->

        </div> <!-- .rw-inner -->
    </div> <!-- .rw-container -->

    <!--
    // ===================================^__^=================================== //
       Footer
    // ===================================^__^=================================== //
    -->
    <div class="rw-section rw-footer">
        <div class="rw-inner clearfix">
            <div class="grid-container">

                <div class="grid desk-6">
                    <div class="footer-totals clearfix">

                        <div class="total red clearfix">
                            <a href="recipes.php">
                                <span class="mark value">13472</span>
                                <span class="type">Recipes</span>
                            </a>
                        </div>

                        <div class="total green clearfix">
                            <a href="members.php">
                                <span class="mark value">5649</span>
                                <span class="type">Members</span>
                            </a>
                        </div>

                        <div class="total blue clearfix">
                            <a href="public-collections.php">
                                <span class="mark value">728</span>
                                <span class="type">Collections</span>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="grid desk-6">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <a href="#rw-layout" class="footer-to-top" title="Go to top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div> <!-- .layout-footer -->

</section><!-- .rw-layout -->

<!-- Javascript -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="../static/assets/js/min/smk-menu.min.js"></script>
<script src="../static/assets/js/rw-sidebar.js"></script>
<script src="../static/assets/js/min/jquery.qtip.min.js"></script>
<script src="../static/assets/js/min/smk-accordion.min.js"></script>
<script src="../static/assets/js/min/smk-visual-select.min.js"></script>
<script src="../static/assets/js/min/owl.carousel.min.js"></script>
<script src="../static/assets/js/scripts.js"></script>
</body>
</html>